<div class="page"  id="tucao_queryTc" data-pageTitle="我的吐槽" data-pageLevel="1" 
	data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_inner_02">
			<h1>我要吐槽</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article class="myidea">
		<div class="index_page">
			<div class="myidea">
				<!-- <div class="indea_tit"><i></i>我的意见</div> -->
				<!-- <div class="ideabox">
					<div class="ideatime clearfix">
						<p class="p1">2017年2月15日</p>
						<p class="p2">未查看</p>
					</div>
					<div class="ideaword">
						<p><span>APP问题1:</span>希望贵公司能在用户体验方面多下功夫！希望贵公司能在用户体验方面多下功夫...</p>
						<p><span>APP问题1:</span>希望贵公司能在用户体验方面多下功夫！</p>
					</div>
				</div>
				<div class="ideabox">
					<div class="ideatime clearfix">
						<p class="p1">2017年2月15日</p>
						<p class="p2 on">已查看</p>
					</div>
					<div class="ideaword">
						<p><span>APP问题1:</span>希望贵公司能在用户体验方面多下功夫！希望贵公司能在用户体验方面多下功夫...</p>
						<p><span>APP问题1:</span>希望贵公司能在用户体验方面多下功夫！</p>
					</div>
					<p class="adoption">您的问题我们已经采纳！</p>
					<i class="adoption_pic"></i>
				</div> -->
			</div>
		</div>
	</article>
</section>
</div>