<div class="page"  id="account_cashbutler_openDetail" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1 id="title">现金管家开通</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="opening_page">
			<div class="opening_list">
				<h3 id="agreement_title">现金管家产品合同、风险揭示书签署</h3>
				<ul id="agreementUl">
					<!--  
					<li>
						<a href="javascript:void(0);" id="riskDisclosure" data-id=""  data-title=""  data-url="">风险揭示书</a>
					</li>
					<li>
						<a href="javascript:void(0);" id="productContract" data-id=""  data-title=""  data-url="">电子产品合同</a>
					</li>
					-->
				</ul>
			</div>
			<div class="check_box">
				<div class="ui checkbox">
					<input type="checkbox" id="checkbox_agreement" checked="checked">
					<label for="checkbox_agreement">我已仔细阅读以上协议</label>
				</div>
			</div>
			<div class="tips_txt">
				<em></em>
				<p id="explain">现金管家会帮助您账户资金自动理财，如需转账，请提前一个交易日设置留存金额。</p>
			</div>
		</div>
	</article>
	<footer>
		<div class="btn_box">
			<a href="javascript:void(0);" class="sub_btn" id="next">继续</a>
		</div>
	</footer>
</section>
</div>