<div class="page" id="main1" data-pageTitle="东北证券-首页" data-pageLevel="1"
	data-urlParam="true">
	<section class="main fixed" data-page="home">
		<header>
			<div class="header_inner">	
 			    <h1>金融商城</h1>
				<a href="javascript:void(0);" class="home_btn" id="home_btn"></a>
				 <a href="javascript:void(0);" class="per_btn" id="per_btn" ></a>
			</div>
		</header>
		<article>
			<div class="index_page">
				<div class="index_banner">
					<!-- 				<img src="images/index_banner.jpg"  width="100%"/>
				<span class="tag"><i></i>火爆</span> -->
				</div>
				<div class="index_box_tit no_border mt10">
					<h2>
						<span>闲钱理财</span>高收益存取灵活</h2>
				</div>
				<div class="mall_banner">
					<div class="pic_box" id="rotation_box" style="height: 1.44rem; overflow: hidden;">
						<ul id="inner">
							<!-- <li><img src="images/mall_banner.png" width="100%"></li> -->
						</ul>
					</div>
					<div class="dots_box" id="dots_box">
						<em class="act"></em> <em></em> <em></em>
					</div>
				</div>
				<div class="financial_pro_list mt10" id="financial_pro_list">
					<div class="index_box_tit">
						<h2>
							<span>人气产品</span>提前锁定未来收益
						</h2>
					</div>
					<!-- <div class="financial_pro_item">
					<div class="item_tit">
						<span class="tit_tag">场内货币ETF</span>
						<h3>富国收益宝</h3>
					</div>
					<div class="ui layout item_con">
						<div class="row-1">
							<span>预计年化收益率(%)</span>
							<strong>3.68</strong>
						</div>
						<div class="row-1">
							<p><i class="icon1"></i>起购<em class="ared">1000元</em></p>
							<p><i class="icon2"></i>净值<em class="ared">1.8992</em></p>
						</div>
					</div>
				</div>
				<div class="financial_pro_item">
					<div class="item_tit">
						<span class="tit_tag">场内货币ETF</span>
						<h3>易方达货币</h3>
					</div>
					<div class="ui layout item_con">
						<div class="row-1">
							<span>预计年化收益率(%)</span>
							<strong>3.68</strong>
						</div>
						<div class="row-1">
							<p><i class="icon1"></i>起购<em class="ared">1000元</em></p>
							<p><i class="icon2"></i>净值<em class="ared">1.8992</em></p>
						</div>
					</div>
				</div>
				<div class="financial_pro_item">
					<div class="item_tit">
						<span class="tit_tag">场内货币ETF</span>
						<h3>国投瑞银</h3>
					</div>
					<div class="ui layout item_con">
						<div class="row-1">
							<span>预计年化收益率(%)</span>
							<strong>3.68</strong>
						</div>
						<div class="row-1">
							<p><i class="icon1"></i>起购<em class="ared">1000元</em></p>
							<p><i class="icon2"></i>净值<em class="ared">1.8992</em></p>
						</div>
					</div>
				</div> -->
				</div>
				<!-- 热门主题 -->
				<div class="ind_box ind_box_05 mt10">
					<div class="index_box_tit">
						<h2>
							<span>热门主题</span>聚焦基金热点
						</h2>
					</div>
					<div class="ind_det">
						<ul id="hotTheme">
							<!-- <li>
							<div class="ui layout">
								<div class="tag_box">
									<span>首发认购</span>
								</div>
								<div class="row-1">
									<h3>长盛沪港深混合</h3>
									<strong>102.70<span>%</span></strong>
									<p>近一年收益率</p>
								</div>
								<div class="btn_box">
									<a href="#" class="buy_btn"><p>立即购买</p></a>
								</div>
							</div>
						</li>
						<li>
							<div class="ui layout">
								<div class="tag_box">
									<span>首发认购</span>
								</div>
								<div class="row-1">
									<h3>国投瑞银美丽中国混合</h3>
									<strong>102.70<span>%</span></strong>
									<p>近一年收益率</p>
								</div>
								<div class="btn_box">
									<a href="#" class="buy_btn"><p>立即购买</p></a>
								</div>
							</div>
						</li>
						<li>
							<div class="ui layout">
								<div class="tag_box">
									<span>首发认购</span>
								</div>
								<div class="row-1">
									<h3>国投瑞银美丽中国混合</h3>
									<strong>102.70<span>%</span></strong>
									<p>近一年收益率</p>
								</div>
								<div class="btn_box">
									<a href="#" class="buy_btn"><p>立即购买</p></a>
								</div>
							</div>
						</li> -->
						</ul>
					</div>
				</div>
				<div class="mt10" id="coming_soon">
					<!-- <img src="images/index_p4.jpg" width="100%"> -->
				</div>
				<div class="footer_box total_footer_box">
					<img src="images/total_footer_pic.png" width="100%" />
					<p>东北证券股份有限公司版权所有 @ 2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服热线：95360</p>
				</div>
			</div>
		</article>
		<footer>
			<div class="ui layout footer_nav footer_new_nav">
				<div class="row-1 active">
					<a href="javascript:void(0);" id="tj"> <em></em>
						<p>推荐</p>
					</a>
				</div>
				<div class="row-1">
					<a href="javascript:void(0);" id="lc"> <em></em>
						<p>理财</p>
					</a>
				</div>
				<div class="row-1">
					<a href="javascript:void(0);" id="hd"> <em></em>
						<p>活动</p>
					</a>
				</div>
				<div class="row-1">
					<a href="javascript:void(0);" id="wd"> <em></em>
						<p>我的</p>
					</a>
				</div>
			</div>
		</footer>
	</section>
	<!-- <section class="main fixed" data-page="home">
	<header>
		<div class="header_inner">
			<h1>金融商城</h1>
			<a href="http://222.168.95.182:8086/m/index/index.html#!/index/index.html" class="home_btn"></a>
			<a href="javascript:void(0)" class="per_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page">
			广告,现金管家
				               		<div class="info_box">
			               	<div class="pic_box">	
								<a href="index.html#!/account/cashbutler/detail.html">
									<img src="/mall/upload/20151103/20151103215551416.png" width="100%">	
								</a>
							</div>
	               		</div>

			
			产品广告
							<div class="banner_pic">
				               	<div class="pic_box">
				               			<a href="/finan/market.html">
										<img src="/mall/upload/20150921/20150921191905760.jpg" width="100%">	
									</a>
								</div>
	               			</div>
							<div class="banner_pic">
				               	<div class="pic_box">
				               			<a href="javascript:void(0)">
										<img src="/mall/upload/20150921/20150921191753799.jpg" width="100%">	
									</a>
								</div>
	               			</div>
							<div class="banner_pic">
				               	<div class="pic_box">
				               			<a href="www.qq.com">
										<img src="/mall/upload/20151210/20151210140239508.jpg" width="100%">	
									</a>
								</div>
	               			</div>
	               			
	        <div class="scale_box">
				<div class="earning_box">
					<div class="earning_inner">
						<h3>东北证券2号</h3>
						<strong>1.2040</strong>
						<p>最新单位净值</p>
						<a href="#" class="buy_btn">1000元起购</a>
					</div>
				</div>
				<div class="earning_box">
					<div class="earning_inner">
						<h3>东北证券3号</h3>
						<strong>1.2040</strong>
						<p>最新单位净值</p>
						<a href="#" class="buy_btn">1000元起购</a>
					</div>
				</div>
			</div>

			
			<div class="footer_box">
				<img src="images/footer_pic.png" width="100%" />
				<p>东北证券股份有限公司版权所有 @ 2015 </p>
			</div>
		</div>
	</article>
	<footer>
		<div class="ui layout footer_nav">
			<div class="row-1 active">
				<a href="javascript:void(0)">
					<em></em>
					<p>推荐</p>
				</a>
			</div>
			<div class="row-1">
				<a href="javascript:void(0)">
					<em></em>
					<p>理财</p>
				</a>
			</div>
			<div class="row-1">
				<a href="javascript:void(0)">
					<em></em>
					<p>米</p>
				</a>
			</div>
			<div class="row-1" id="userCenter">
				<a href="javascript:void(0)">
					<em></em>
					<p>我</p>
				</a>
			</div>
		</div>
	</footer>
	<div class="window_dialog" style="display: none">
		<div class="dialog_icon_box">
		</div>
	</div>
</section> -->
</div>