<div class="page"  id="page" data-pageTitle="广告显示" data-pageLevel="1" data-urlParam="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner">
			<a href="javascript:void(0)" class="rt_icon close_btn2" id="close"></a>
		</div>
	</header>
	<article>
		<div class="index_page">
			<!-- 广告 -->
				               		<div class="info_box">
<!-- 			               	<div class="pic_box">	
								<a href="index.html#!/account/cashbutler/detail.html">
									<img src="/mall/upload/20151103/20151103215551416.png" width="100%">	
								</a>
							</div> -->
	               		</div>

		</div>
	</article>
</section>
</div>