<div class="page"  id="article_index" data-pageTitle="晨会列表" data-pageLevel="1">
<section class="main fixed" data-page="home">
	<article>
		<div class="morning_meeting">
			<div class="meeting_banner">
				<img src="images/meeting_banner.png" width="100%" />
			</div>
			<div class="morning_meeting_list">
				<ul>
					<!-- <li>
						<a href="#"><span>6.6</span>财富管理部晨会</a>
					</li>
					<li>
						<a href="#"><span>6.5</span>财富管理部晨会</a>
					</li>
					<li>
						<a href="#"><span>6.4</span>财富管理部晨会</a>
					</li>
					<li>
						<a href="#"><span>6.3</span>财富管理部晨会</a>
					</li>
					<li>
						<a href="#"><span>6.2</span>财富管理部晨会</a>
					</li>
					<li>
						<a href="#"><span>6.1</span>财富管理部晨会</a>
					</li>
					<li>
						<a href="#"><span>5.31</span>财富管理部晨会</a>
					</li> -->
				</ul>
			</div>
		</div>
	</article>
</section>
</div>