<div class="page"  id="finan_fund_search" data-pageTitle="搜索" data-pageLevel="1"
	data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner">
			<div class="soulbox">
				<div class="soulinputbox">
					<a href="javascript:void(0);"><i></i></a>
					<input type="text" id="search_value"  placeholder="搜索产品"/>
				</div>
			</div>
			<a href="javascript:void(0);" id="away" class="per_btn per_wod">取消</a>
		</div>
	</header>
	<article>
		<div class="index_page">
			<div class="hotsearch" style="display: none;" id="searchResult">
<!-- 				<div class="hoter_tiit" id="hoter_title"> -->
<!-- 					<p>热门搜索</p> -->
<!-- 				</div> -->
				<ul>
					<li>月月赢1月期1号</li>
					<li>月月赢1月期12号</li>
					<li>月月赢1月期162号</li>
					<li>月月赢1月期1qw号</li>
				</ul>
			</div>
			<div class="hotsearch" id="searchView">
				<div class="hoter_tiit" id="history_title">
					<p>历史搜索</p>
					<a href="javascript:void(0);" id="cleanHistory">清除历史记录</a>
				</div>
				<ul id="lsjl">
<!-- 					<li>月月赢1月期1号</li> -->
<!-- 					<li>月月赢1月期12号</li> -->
<!-- 					<li>月月赢1月期162号</li> -->
<!-- 					<li>月月赢1月期1qw号</li> -->
				</ul>
			</div>
		</div>
<!-- 		<div class="footer_box total_footer_box"> -->
<!-- 			<img src="images/total_footer_pic.png" width="100%" /> -->
<!-- 			<p>东北证券股份有限公司版权所有 @ 2015 </p> -->
<!-- 		</div> -->
	</article>
	<footer>
<!-- 		<div class="footer_box total_footer_box"> -->
<!-- 			<img src="images/total_footer_pic.png" width="100%" /> -->
<!-- 			<p>东北证券股份有限公司版权所有 @ 2015 </p> -->
<!-- 		</div> -->
		<div class="ui layout footer_nav footer_new_nav">
			<div class="row-1">
				<a href="javascript:void(0);">
					<em></em>
					<p>推荐</p>
				</a>
			</div>
			<div class="row-1 active">
				<a href="javascript:void(0);">
					<em></em>
					<p>理财</p>
				</a>
			</div>
			<div class="row-1">
				<a href="javascript:void(0);">
					<em></em>
					<p>活动</p>
				</a>
			</div>
			<div class="row-1">
				<a href="javascript:void(0);">
					<em></em>
					<p>我的</p>
				</a>
			</div>
		</div>
	</footer>
</section>
</div>