<div class="page"  id="product_dtjxgd" data-pageTitle="定投精选" data-pageLevel="1"
	 data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_inner_index">
			<h1>定投精选</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page">
		  <div class="pro_box">
		    <div class="pro_main_fuk">
			<div class="sg_list">
				<p class="sp01">
					<span class="span01">基金名称</span>
					<span class="span02">近一年收益</span>
					<span class="span03">单位净值</span>
					<span class="span04">操作</span>
				</p>
		    </div>
		    </div>
		   </div>
		    <div class="no_data_box" style="display:none;">
				<em></em>
				<p>查询无结果</p>
			</div>
			<div id="v_container_productList">
			   	<div class="visc_wrapper" id="v_wrapper_productList" data-iscrollPageId="finan_market">
					<div class="visc_scroller">
						<div class="visc_pullDown" style="display:none;">
							<span class="visc_pullDownIcon"></span>
							<div class="visc_pullDownDiv">
								<span class="visc_pullDownLabel">下拉加载上一页</span><br/>
								时间更新于：<span class="visc_pullDownTime"></span>
							</div>
						</div>
                        <div class="sg_list">
						 <ul id="dtjx">

						 </ul>
						</div>
						
					    <div class="visc_pullUp" style="display:none;">
							<span class="visc_pullUpIcon"></span>
							<div class="visc_pullUpDiv">
								<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
								时间更新于：<span class="visc_pullUpTime"></span>
							</div>
						</div>
					</div>
				</div>
	   </div>
     </div>
	</article>
</section>
</div>