<div class="page"  id="active_answerActiveInlet" data-pageTitle="答题活动挑战">
<section class="main fixed" data-page="home">
	<article>
		<div class="index_page activity_bg">
			<div class="activity_tit">
				<h2></h2>
			</div>
			<div class="activity_btn">
				<a href="javascript:void(0)" class="go_btn" id="dekaron">速去挑战</a>
				<a href="javascript:void(0)" class="rule_btn" id="rule">活动规则</a>
			</div>
		</div>
	</article>
	<!-- 弹框 -->
	<div class="ui dialog-overlay" id="overlay" style="display: none;"></div>
	<div class="rule_dialog pop in" id="ruleValue" style="display: none;">
		<a href="javascript:void(0)" class="close_btn"></a>
		<div class="rule_dialog_det">
			<h2><img src="images/answerActive/rule_dialog_tit.png" width="100%" /></h2>
			<div class="rule_dialog_txt">
				<h3 class="time">活动时间：<span>2016.1.29——1.31</span></h3>
				<h3>活动规则:</h3>
				<p>1、本次活动共10题，每题回答正确得10分，满80分即可摇一摇抽奖,未满80分可再次挑战。</p>
				<p>2、奖品包括：专业游戏键鼠套装、蓝牙音响、小米手环、10M－50M的手机流量。</p>
				<p>3、抽中手机流量的用户可直接领取流量卡，通过微信菜单［我］－［卡包／优惠券］直接充值。</p>
				<p>4、抽中实物奖品的用户请填写收货信息，我们会在活动结束后5个工作日内寄出奖品。</p>
			</div>
			<span class="tips">本活动解释权归东北证券所有。</span>
		</div>
	</div>
</section>
</div>