<div class="page"  id="active_guidePages" data-pageTitle="活动详情" data-pageLevel="1">
<section class="main fixed" data-page="home">
	<article>
		<div class="activity_page">
			<div class="activity_banner">
				<img src="images/hd_banner.jpg" width="100%" />
			</div>
			<div class="activity_txt">
				<div class="txt_con">
					<p>活动时间：2015-12-1 至2015-12-31</p>
					<p>活动奖品：中国大陆上市的正品行货iphone6S</p>
					<p>参与方法：</p>
					<p>1活期期间，在本页面点击“立即参加”，完成新用户注册，即可获得一次抽奖机会；</p>
					<p>2活动结束后一周将进行抽奖，中奖信息将通过微信公众号“东北证券融e通”进行公布；</p>
					<p>3新用户注册后凭手机号码参与抽奖；</p>
					<p>4使用东北证券交易账户登录的用户，绑定手机号码后也可参与抽奖；</p>
					<span>本次活动的最终解释权归东北证券</span>
				</div>
				<div class="btn_box">
					<a href="javascript:void(0);" class="rig_btn">马上注册</a>
				</div>
			</div>
		</div>
	</article>
</section>
</div>