<div class="page"  id="active_valueList" data-pageTitle="更多" data-pageLevel="1" 
data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
		
			<a href="javascript:void(0);" class="back_btn"></a>
			<h1 id="title_name">更多</h1>
			<!-- <a href="javascript:void(0)" class="rt_icon share_btn">签到</a> -->
		</div>
	</header>
	<article>
		<div class="points_mall">
			<!-- 超值兑换 -->
			<div class="ind_box toys_preferred value_pro">
				<div class="toys_pre_list value_pro_list clearfix" id="czqg_pre_list">
					<ul>
					</ul>
				</div>
			</div>
			<!-- 一米疯抢 -->
			<div class="ind_box hot_box mt10">
				<div class="panic_buy_list" id="ymfq_pre_list">
					<ul>
					</ul>
				</div>
			</div>
			<!-- 限时换购 --> 
<!-- 			<div class="ind_box toys_preferred"> -->
<!-- 				<div class="toys_pre_list clearfix" id="xsqg_pre_list"> -->
<!-- 					<ul> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="ind_box toys_preferred value_pro">
				<div class="toys_pre_list value_pro_list clearfix" id="xsqg_pre_list">
					<ul>
					</ul>
				</div>
			</div>
			
		</div>
	</article>
</section>
</div>