<div class="page"  id="software_orderPay" data-pageTitle="订单支付" data-pageLevel="1"
	data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_inner_index header_inner_02">
			<h1>订单支付</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page">
			<div class="mainboxs">
				<div class="main_001">
					<div class="userage" id = "yhxx">
<!-- 						<p>客户姓名：<span>张迪</span></p> -->
<!-- 						<p>购买账号：<span>30700038</span></p> -->
<!-- 						<s></s> -->
					</div>
				</div>
				<div class="main_001">
					<div class="proamsg">
						<div class="pro_tits pro_tit_ah border-b">
							<a href="javascript:;">
								<p class="sp01"><i></i>产品信息</p>
							</a>
						</div>
						<div class="current_soft flex-father" id = "productsoft">
<!-- 							<div class="softpic"><img src="images/soft_bg001.jpg" alt="" /></div> -->
<!-- 							<div class="softname flex-children"> -->
<!-- 								<p class="p1">融易达高级版</p> -->
<!-- 								<p class="p2">让你的投资变得更专业、更简单</p> -->
<!-- 							</div> -->
						</div>
						<div class="setabox">
							<div class="plaese">请选择购买套餐</div>
							<div class="setabottom" id = "rulesinfo">
<!-- 								<div class="bankboxs" > -->
<!-- 									<input type="radio" name="pay" /> -->
<!-- 									<label for=""></label> -->
<!-- 									<p class="plp1">12个月</p> -->
<!-- 									<p class="plp2">100.00元</p> -->
<!-- 								</div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="main_001">
					<div class="paystyle">
						<div class="pro_tits pro_tit_al">
							<a href="javascript:;">
								<p class="sp01"><i></i>支付方式</p>
							</a>
						</div>
						<div class="payboxs" id = "payboxs">
							<ul> 
								<li>
									<div class="bankboxs bankboxs_cc">
										<div class="bankimg" id = "payimg"><img src="images/bankicon001.png" alt="" /></div>
										<input type="radio" name="pay" />
										<label id="payradio" ></label>
										<p class="p004">银行卡支付</p>
										<p class="p005"><span>5万起购</span>安全急速支付，无需开通网银</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<footer>
		<div class="enterpay">
			<p class="p006">付款总额：<span id = "fkje"></span></p>
			<a href="javascript:void(0);" id = "payment">立即支付</a>
		</div>
	</footer>
	<!-- 弹出层 -->
	<div class="blockbg_pay" id = "zzcone" style="display:none;"></div>
	<div class="tckbox soft_pay" id = "zzctwo"  style="display:none;">
		<p class="sao_01">支付提示</p>
		<p class="sao_02">点击继续支付将在当前页面进行支付</p>
		<div class="twobtn flex-father">
			<a class="flex-children" id = "continue" href="javascript:void(0);">继续支付</a>
			<a class="flex-children" id = "away" href="javascript:void(0);">取消</a>
		</div>
	</div>
</section>
</div>