<div class="page"  id="software_productSoftware" data-pageTitle="软件产品" data-pageLevel="1"
	data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_inner_02">
			<h1>软件产品</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
			<a href="javascript:void(0);" class="soft_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page">
			<div class="pronews">
				<ul id = "software">
					<li>
<!-- 						<div class="sibnews flex-father"> -->
<!-- 							<div class="sibnews_soft"> -->
<!-- 								<img src="images/soft_bg001.jpg" alt="" /> -->
<!-- 							</div> -->
<!-- 							<div class="sibnews_r flex-children"> -->
<!-- 								<div class="softtits"> -->
<!-- 									<p>融易达</p> -->
<!-- 									<span>已有88人购买</span> -->
<!-- 								</div> -->
<!-- 								<p class="sp1">满足你个性化的投资需求</p> -->
<!-- 								<div class="thestarts thestarts_a">推荐指数： -->
<!-- 								从一颗星到5颗星，分别添加onestart,twostart,threestart,fourstart,fivestart;startbox为默认； -->
<!-- 									<a class="startbox fourstart" href="javascript:;"> -->
<!-- 										<span class="str01"></span> -->
<!-- 										<span class="str02"></span> -->
<!-- 										<span class="str03"></span> -->
<!-- 										<span class="str04"></span> -->
<!-- 										<span class="str05"></span> -->
<!-- 									</a> -->
<!-- 								</div> -->
<!-- 								<div class="theprice"><span>10东北米</span></div> -->
<!-- 								<div class="exchange"> -->
<!-- 									<a href="javascript:void(0);" id = "sell">立即购买</a> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<div class="sibnews flex-father"> -->
<!-- 							<div class="sibnews_soft"> -->
<!-- 								<img src="images/soft_bg001.jpg" alt="" /> -->
<!-- 							</div> -->
<!-- 							<div class="sibnews_r flex-children"> -->
<!-- 								<div class="softtits"> -->
<!-- 									<p>融易达</p> -->
<!-- 									<span>已有88人购买</span> -->
<!-- 								</div> -->
<!-- 								<p class="sp1">满足你个性化的投资需求</p> -->
<!-- 								<div class="thestarts thestarts_a">推荐指数： -->
<!-- 								从一颗星到5颗星，分别添加onestart,twostart,threestart,fourstart,fivestart;startbox为默认； -->
<!-- 									<a class="startbox fourstart" href="javascript:;"> -->
<!-- 										<span class="str01"></span> -->
<!-- 										<span class="str02"></span> -->
<!-- 										<span class="str03"></span> -->
<!-- 										<span class="str04"></span> -->
<!-- 										<span class="str05"></span> -->
<!-- 									</a> -->
<!-- 								</div> -->
<!-- 								<div class="theprice"><span>10东北币</span></div> -->
<!-- 								<div class="exchange"> -->
<!-- 									<a href="javascript:;">立即购买</a> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<div class="sibnews flex-father"> -->
<!-- 							<div class="sibnews_soft"> -->
<!-- 								<img src="images/soft_bg001.jpg" alt="" /> -->
<!-- 							</div> -->
<!-- 							<div class="sibnews_r flex-children"> -->
<!-- 								<div class="softtits"> -->
<!-- 									<p>融易达</p> -->
<!-- 									<span>已有88人购买</span> -->
<!-- 								</div> -->
<!-- 								<p class="sp1">满足你个性化的投资需求</p> -->
<!-- 								<div class="thestarts thestarts_a">推荐指数： -->
<!-- 								从一颗星到5颗星，分别添加onestart,twostart,threestart,fourstart,fivestart;startbox为默认； -->
<!-- 									<a class="startbox fourstart" href="javascript:;"> -->
<!-- 										<span class="str01"></span> -->
<!-- 										<span class="str02"></span> -->
<!-- 										<span class="str03"></span> -->
<!-- 										<span class="str04"></span> -->
<!-- 										<span class="str05"></span> -->
<!-- 									</a> -->
<!-- 								</div> -->
<!-- 								<div class="theprice"><span>10东北币</span></div> -->
<!-- 								<div class="exchange"> -->
<!-- 									<a href="javascript:void(0);">立即购买</a> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</li>
				</ul>
			</div>
		</div>
	</article>
</section>
</div>