<div class="page"  id="software_sellDetail" data-pageTitle="订单支付详情" data-pageLevel="1"
	data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_inner_index header_inner_02">
			<h1>订单支付</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page" >
			<div class="main_001" id = "softproduct">
<!-- 				<div class="softany"> -->
<!-- 					<p class="flex-father soft_bt"> -->
<!-- 						<span class="flex-children">融易达普通版</span> -->
<!-- 						<span class="san01">已购买</span> -->
<!-- 					</p> -->
<!-- 					<div class="mypros"> -->
<!-- 						<ul> -->
<!-- 							<li> -->
<!-- 								<div class="sibnews flex-father"> -->
<!-- 									<div class="sibnews_soft"> -->
<!-- 										<img src="images/soft_bg001.jpg" alt="" /> -->
<!-- 									</div> -->
<!-- 									<div class="sibnews_r flex-children"> -->
<!-- 										<p class="sp1">满足你个性化的投资需求</p> -->
<!-- 										<p class="sp2">有效期：2016.5.20-2017.5.20</p> -->
<!-- 										<div class="theprice">购买价格：<span>100.00元/12个月</span></div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
<!-- 					<div class="softmore"> -->
<!-- 						<ul> -->
<!-- 							<li class="flex-father"> -->
<!-- 								<p>订单编号</p> -->
<!-- 								<p class="flex-children">NFWORP04950</p> -->
<!-- 							</li> -->
<!-- 							<li class="flex-father"> -->
<!-- 								<p>支付方式</p> -->
<!-- 								<p class="flex-children">银联支付</p> -->
<!-- 							</li> -->
<!-- 							<li class="flex-father"> -->
<!-- 								<p>剩余天数</p> -->
<!-- 								<p class="flex-children">365天</p> -->
<!-- 							</li> -->
<!-- 							<li class="flex-father"> -->
<!-- 								<p>购买账号</p> -->
<!-- 								<p class="flex-children">dongbeizhengquan</p> -->
<!-- 							</li> -->
<!-- 							<li class="flex-father"> -->
<!-- 								<p>密码</p> -->
<!-- 								<p class="flex-children">88888888</p> -->
<!-- 							</li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</div>
	<footer id = "bottom">
        <div class="renew">
            <a href="javascript:;">续费</a>
        </div>
    </footer>
	</article>
	
	
</section>
</div>