<div class="page"  id="software_softwareDetail" data-pageTitle="软件产品详情" data-pageLevel="1"
	data-urlParam="true" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_inner_02">
			<h1>软件产品</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page" id = "infoproduct">
			<div class="jp_banner"><img src="images/activity_pic13.jpg" alt="" /></div>
			<div class="boxinside02">
				<div class="pro_tits blems">
					<a href="javascript:;">
						<p class="sp01"><i></i>产品介绍</p>
					</a>
				</div>
				<div class="jswords">
				     融易达是一款功能非常强大的网上股票证券交易分析软件。
				     融易达系统可提供诸如高速行情、快速下单、多账号管理、
				     全业务交易支持、篮子下单、多市场批量下单、套利交易以及策略交易等丰富投资交易模式，
				     并提供额外的开发接口，满足不同专业投资者不同投资交易需求。融易达软件分为普通版和专业版。
				   <p class="ai2">融易达普通版包含策略交易、闪电下单，市场监控、期权策略交易等功能。</p>
				   <p class="ai2">融易达专业版不仅包含普通版的策略交易、闪电下单，市场监控、期权策略交易等功能。还提供专业篮子委托，群组委托，ETF套利，期现套利等高级功能</p> 
				</div>
<!-- 			    <div class="verions"> -->
<!-- 					<div class="clearfix"> -->
<!-- 						<p class="ai1"><s></s><span>普通版</span><i></i></p> -->
<!-- 					</div> -->
<!-- 					<p class="ai2">融易达普通版包含策略交易、闪电下单，市场监控、期权策略交易等功能。</p> -->
<!-- 				</div> -->
<!-- 				<div class="verions verionf"> -->
<!-- 					<div class="clearfix"> -->
<!-- 						<p class="ai1"><s></s><span>专业版</span><i></i></p> -->
<!-- 					</div> -->
<!-- 					<p class="ai2">融易达专业版不仅包含普通版的策略交易、闪电下单，市场监控、期权策略交易等功能。还提供专业篮子委托，群组委托，ETF套利，期现套利等高级功能</p> -->
<!-- 				</div> -->
			</div>
			<div class="boxinside02">
				<div class="pro_tits because">
					<a href="javascript:;">
						<p class="sp01"><i></i>推荐理由</p>
					</a>
				</div>
				<div class="becafor">
					<p><span>1、</span>借鉴境外市场的全新UI设计，人性化的用户体验</p>
					<p><span>2、</span>ALL IN ONE整合看盘，同一界面实现多业务多品种的支持</p>
					<p><span>3、</span>既强大又简单易用的策略交易平台，可实现自主策略开发、回测等</p>
					<p><span>4、</span>丰富的交易方式，多种多样以交易为核心的业务功能实现便捷、快速地交易</p>
					<p><span>5、</span>高端套利功能支持，ETF套利和股指期货套利以及期权策略支持功能</p>
					<p><span>6、</span>中台业务数据处理，极大地提升客户端的操作体验感及强大的数据核算能力</p>
					<p><span>7、</span>按需开放的多账户管理功能</p>
				</div>
			</div>
	    </div>
			<div class="boxinside02">
				<div class="pro_tits useler">
					<a href="javascript:;">
						<p class="sp01"><i></i>使用流程</p>
					</a>
				</div>
				<div class="flowchat">
					<div class="flow_pic flex-father">
						<div class="flex-children">
							<div class="flawimg_side">
								<div class="flowimg1"></div>
							</div>
							<p>拍下产品</p>
						</div>
						<div class="flex-children">
							<div class="flawimg_side">
								<div class="flowimg2"></div>
							</div>
							<p>完成支付</p>
						</div>
						<div class="flex-children">
							<div class="flawimg_side">
								<div class="flowimg3"></div>
							</div>
							<p>获取产品信息</p>
						</div>
					</div>
				</div>
				<div class="wordsm">
					<div class="wordsm_in">
						<em></em>
						<p><span>使用渠道：</span>PC端</p>
						<p><span>风险揭示：</span>软件产品仅供投资者参考，不构成投资建议</p>
						<p><span>使用规则：</span>获取的产品信息包括软件的下载链接，和初始登录账号和初始登录密码。用户通过下载链接下载软件，输入账号和密码方可使用。</p>
					</div>
				</div>
			</div>
	</article>
	<footer>
		<div class="buying">
			<a href="javascript:void(0);" id = "sell">立即购买</a>
		</div>
	</footer>
</section>
</div>