<div class="page" id="xkhd_xkhdlc" data-pageTitle="东北证券2号理财" data-refresh="true" data-pageLevel="1">
<section class="main fixed">
		<article>
			<div class="pg_head boost">
				<img src="images/hd-pic01.png"/>
			</div>
			<div class="pg_con boost">
				<div class="blk_sec">
					<div class="blk_tit blk_tit01">
						<span>发售期：11月8日 ~ 11月9日</span>
					</div>
				</div>
				<div class="blk_sec blk_sec02">
					<h3>“融e通”是东北证券打造的金融理财服务平台</h3>
					<ul>
						<li><span>极速开户</span>万2.5佣金，3分钟在线开户</li>
						<li><span>个股诊断</span>360°深度剖析个股详情</li>
						<li><span>新股提醒</span>即刻提醒，一键申购新股</li>
						<li><span>理财商城</span>稳健收益，赚钱融e通</li>
					</ul>
				</div>
				<div class="blk_sec blk_sec04">
					<span>下载融e通，立即购买神秘高收益理财产品</span>
					<ul>
						<li>
							<i class="line_circle line_circle02"></i>
							<i class="line_circle line_circle04"></i>
							<a href="javascript:void(0);" id="xzryt" class="xkbtn">下载融e通</a>
							<i class="line_circle line_circle01"></i>
							<i class="line_circle line_circle03"></i>
						</li>
					</ul>
					<p>理财有风险，投资需谨慎</p>
				</div>
			</div>
		</article>
</section>
</div>
