<div class="page"  id="finan_fixedInvestment_placeManage" data-pageTitle="东北证券-定投下单" data-urlParam="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_dt_inner">
			<h1>理财订单</h1>
			<a href="#" class="back_btn"></a>
		</div>
		<div class="lc_top_nav">
			<div class="ui layout">
				<a href="#" class="row-1"><span>交易</span></a>
				<a href="#" class="row-1 active"><span>定投</span></a>
			</div>
		</div>
	</header>
	<article>
		<div class="index_page">
			<div class="invest_order_info mt10">
				<div class="invest_info_tit">
					<h3>长盛电子信息主题灵活配置混合型证券投资基金（000063）</h3>
				</div>
				<div class="invest_info_con">
					<ul class="info_list clearfix">
						<li>定投周期:<span class="ablue">每月/3号</span></li>
						<li>开始日期:<span>2016-06-03</span></li>
						<li>每期定期金额：<span>1000元</span></li>
						<li>截止日期: <span>2016-08-08</span></li>
					</ul>
					<div class="ui layout info_btn">
						<p class="row-1">2016-05-19 09:30:20</p>
						<div class="info_btn_con">
							<a href="#" class="cancel">取消定投</a>
							<a href="#" class="exchange">修改定投</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
</div>