<div class="page"  id="finan_fixedInvestment_placeSuccess" data-pageTitle="东北证券-定投下单" data-urlParam="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner header_dt_inner" style="background: -webkit-linear-gradient(top,#0081E2,#00AEF4);">
			<h1>定投提交</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="index_page">
			<div class="invest_success_box">
				<h3><i class="success"></i>您的定投委托已提交</h3>
				<div class="success_mes">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<th>基金名称：</th>
							<td id="productName"></td>
						</tr>
						<tr>
							<th>定投金额：</th>
							<td id="tradeMoney"></td>
						</tr>
						<tr>
							<th>定投周期：</th>
							<td id="tradeDate"></td>
						</tr>
						<tr>
							<th>开始日期：</th>
							<td id="first_trade_y_m_mall"></td>
						</tr>
						<tr>
							<th>截止日期：</th>
							<td id="expiryDate"></td>
						</tr>
					</table>
				</div>
				<div class="ui layout invest_btn_box">
					<a href="javascript:void(0);" class="row-1 visit_btn" id="go">再逛逛</a>
					<a href="javascript:void(0);" class="row-1 management_btn" id="manage" style="background: #5eb2f8;">定投管理</a>
				</div>
				<span style="text-align:center;display: block;width: 315px;padding-top: 10px;" align="center">非交易日定投，请您在下个交易日确认定投委托是否成功</span>
			</div>
		</div>
	</article>
</section>
</div>