<div class="page"  id="finan_cashTaking" data-pageTitle="基金户开通协议">
	<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1 id="agreementTitle">快速取现协议</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="tips_book">
			<div class="tips_book_txt">
			<h3 align = "center">东北证券现金管家集合资产管理计划快速取现业务用户服务协议</h3>
			<p>甲方：</p>
			<p>乙方：东北证券股份有限公司</p>
			<p>甲方自愿申请乙方东北证券现金管家“快速取现”业务，为明确双方的权利和义务，签订本协议。本协议所述“现金管家”，是指乙方所销售的“东北证券现金管家集合资产管理计划”。现金管家委托人的权利义务，详见委托人与现金管家管理人、托管人签署的《东北证券现金管家集合资产管理计划集合资产管理合同》（以下简称“《计划合同》”）</p>
			<h5>第一条 定义</h5>
			<p>1.1 东北证券现金管家集合资产管理计划T+0“快速取现”服务（以下简称“快速取现”服务）是指：</p>
			<p>作为已通过东北证券股份有限公司（以下简称“东北证券”）交易平台购买东北证券现金管家集合资产管理计划（以下简称“现金管家”）份额的投资者，急需资金时可向东北证券申请“快速取现服务”，将已购买的现金管家产品份额（以下称“产品份额”）转让给东北证券，经深圳交易所确认后，东北证券向投资者支付申请产品份额的转让价款；东北证券获得投资者申请转让确认后的产品份额，享有转让确认后产品份额在申请日当日及之后的产品收益。</p>
			<h5>第二条 业务规则</h5>
			<h5>2.1 业务申请</h5>
			<p>2.1.1 甲方申请“快速取现”的，应在“快速取现”业务的办理时间内提出申请（即每个交易日的9:30-11:30 和13：00-15：30）。甲方在非办理时间提出的申请，乙方有权拒绝。办理时间如有调整的，以乙方公告为准。</p>
			<p>2.1.2 “快速取现”最低申请单位为1000份。</p>
			<p>2.1.3 乙方出于风险管理的需要，可以对现金管家快速取现业务单个委托人单笔和单日累计申请的金额及次数、全体委托人单日累计申请的金额设定上限或下限。申请金额、次数的上限或下限通过公司网站公告的形式进行披露。公司有权根据业务发展的需要调整该限制。</p>
			<p>2.1.4 “快速取现”业务为一键式份额转让业务，甲方在乙方平台提交“快速取现”服务申请后，乙方的后台系统将按照甲方申请内容完成以下流程：包括审核甲方快速取现申请、向交易所提交申报并接收回报、向甲方资金账户划付转让金额。</p>
			<p>2.1.5 鉴于“快速取现”业务为一键式份额转让业务，甲方提交的申请不允许撤销。</p>
			<p>2.1.6“快速取现”业务的确认时间以深圳证券交易所成交回报时间为准。</p>
			<h5>2.2 转让金额与转让相关费用</h5>
			<p>2.2.1 甲方持有的现金管家产品份额，以产品份额的面值1元转让给乙方，转让金额等于产品份额乘以1元面值。产品份额对应的产品收益根据现金管家合同的约定进行业务处理和收益计算，甲方享有转让份额自申请日（不含）前的收益，乙方享有申请日（含）及其后持有期收益。</p>
			<p>2.2.2 因“快速取现”业务产生的转让费用（包括但不限于交易所经手费和过户费等），均由甲方承担。</p>
			<p>2.2.3 乙方暂不对“快速取现”服务收取手续费。如有调整的，以乙方公告为准。</p>
			<h5>2.3 资金转账</h5>
			<p>2.3.1“快速取现”业务的资金转账方式为三方存管下的银证转账（系统默认方式，支持银行见乙方公告）。</p>
			<p>2.3.2 “现金管家”管理人将在网站就支持“快速取现”业务的三方存管银行进行公告。三方存管银行不支持“快速取现”业务的，“快速取现”业务的资金无法通过三方存管支取方式转出。甲方签署本服务协议和变更三方存管银行前应确认三方存管银行是否支持“快速取现”业务。</p>
			<p>2.3.3 甲方进行三方存管支取方式资金转出时，应当按照甲乙双方与银行签署的《证券交易结算资金第三方存管协议》办理，“快速取现”银证转账服务时间以各存管银行实际支持时间为准。</p>
			<h5>2.4 现金管家最低保留额度</h5>
			<p>2.4.1“快速取现”业务作为乙方提供的一种增值服务，应遵从现金管家集合资产管理计划相关的业务规则，包括但不限于《计划合同》及其相关附件。</p>
			<p>2.4.2 根据《计划合同》的约定，甲方应当设定最低保留额度。在“快速取现”业务办理时，乙方将按照甲方所设定的最低保留额度进行日常业务处理。</p>
			<p>2.4.3甲方知悉并确认，在提交“快速取现”业务申请后，应在当日16：00前登入其账户查看并确认其通过“快速取现”业务申请金额已从其资金账户中转出。如甲方未能及时转出申请金额的，应在当日16：00前及时调整现金管家最低保留额度，调整后的最低保留额度应不低于其当日申请金额未转出部分与下一交易日资金账户留存金额的总数。</p>
			<p>2.4.4 甲方通过“快速取现”业务申请金额在当日16：00后未转出、且未按2.4.3的约定调整最低保留额度，根据现金管家集合资产管理计划相关的业务规则，系统会在当日16：00后自动触发现金管家的申赎，未转出部分将重新申购现金管家份额。由此导致当日申请金额当日无法转出、重新申购现金管家份额等后果及责任将由甲方自行承担。</p>
			<h5>2.5 业务差错处理</h5>
			<p>2.5.1 由于特殊原因导致甲方“快速取现”业务项下的转让份额未能实际转让给乙方，但乙方已向甲方实际支付“快速取现”转让金额，或甲方多收到乙方划付“快速取现”金额的，则，甲方应当在“快速取现”申请之日起三个工作日内将多收取的转让金额返还给乙方，并应承担乙方由此产生的损失。</p>
			<p>2.5.2 甲方未能在约定期限内返还金额的，乙方有权对甲方开设在乙方处的任一账户内的资金和证券进行处置，包括但不限于限制取款和限制交易、留置、扣划、强制平仓等，由此造成的全部损失和法律后果由甲方自行承担，给乙方造成损失的，乙方有权继续追偿。前述约定不具有排他性，不意味着乙方仅可采取所列处分措施。乙方可根据具体情况决定是否采取及如何采取前述约定的措施，无论何种情况，均不视为乙方放弃相应的权利。</p>
			<p>2.5.3 上述特殊原因，包括但不限于：（1）因甲方纠纷导致有权机关采取资产保全、冻结、扣划等措施；（2）发生网络故障、系统故障、计算差错等原因；（3）其他非乙方原因的任何情形。</p>
			<h5>2.6 业务规则调整及通知</h5>
			<p>2.6.1 甲方在参与“快速取现”业务过程中，应遵守国家相关法律法规、监管规章、交易所业务规则、自律组织规范性文件等规定的最低交易单位、交易时间等业务要求，并遵守乙方相关指引的规定。</p>
			<p>2.6.2 乙方有权根据市场流动性情况、基础账户规模变化、自身资金以及国家政策、法规、交易所交易规则、合同变更等情况对“快速取现”的服务内容与业务规则进行变更和调整，并将变更或调整后的服务内容与业务规则通过乙方官网（http://www.nesc.cn/）予以公告。甲方承诺遵守乙方调整后的服务内容与业务规则。</p>
			<h5>第三条 法律适用条款</h5>
			<p>3.1 本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文规定的，可适用通行的行业惯例。</p>
			<p>3.2 如果本协议的部分规定与有关的法律法规或金融规章相抵触，双方应按有关的法律法规或金融规章的规定履行自己的权利义务，协议的其他部分的效力不受影响。</p>
			<h5>第四条 争议的解决</h5>
			<p>甲、乙双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可提交上海仲裁委员会根据该会当时有效的仲裁规则进行仲裁，仲裁裁决是终局性的，对各方当事人具有约束力。</p>
			<h5>第五条 免责条款</h5>
			<p>5.1 如遇自然灾害等不可抗力事件，或其他不可预见的非常情况，或网络、通讯故障发生，以及其他乙方不可预测、不可控制的因素，导致乙方无法履行协议的，乙方不承担任何责任。</p>
			<p>5.2 因甲方原因（包括但不限于甲方绑定的银行账户已销户或账户状态不正常、甲方绑定的三方存管银行不支持“快速取现”业务等），导致资金转出失败的，乙方不承担任何责任。</p>
			<p>5.3 甲方申请“快速取现”业务中涉及银行资金转出，若因银行异常等非乙方原因发生迟延到账的，乙方不承担任何责任。</p>
			<h5>第六条 协议的签署及生效</h5>
			<p>本协议采用电子/书面方式签署，协议自甲方签署后立即生效。</p>
			<h5>第七条 其他</h5>
			<p>乙方对本协议拥有修改权和最终解释权。甲方确认，已充分阅读并理解本服务协议的内容，尤其是相关风险条款及乙方免责条款的内容，并承诺自行承担风险和损失。（以下无正文。）</p>
			<p>甲方：&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp乙方： </p>
			<p>东北证券股份有限公司（附营业部业务章）</p>
			<p>日期：</p>
			<h3 align = "center">东北证券现金管家集合资产管理计划</h3>
			<h3 align = "center">快速取现业务风险揭示书</h3>
			<p>特别提示：</p>
			<p>阅读现金管家快速取现风险揭示书前，请详阅《东北证券现金管家集合资产管理计划集合资产管理合同》、《东北证券现金管家集合资产管理计划说明书》、《东北证券现金管家集合资产管理计划风险揭示书》、《东北证券现金管家集合资产管理计划快速取现业务用户服务协议》（以下简称“快速取现服务协议”）及其他公告信息。</p>
			<p>东北证券现金管家快速取现业务（以下简称“快速取现业务”）是指：作为已通过东北证券交易平台购买东北证券现金管家集合资产管理计划（以下简称“现金管家”）份额的投资者，急需资金时可向东北证券申请“快速取现服务”，将已购买的现金管家产品份额（以下称“产品份额”）转让给东北证券股份有限公司（以下简称“东北证券”），经深圳交易所确认后，东北证券向投资者支付申请产品份额的转让价款；东北证券获得投资者申请转让确认后的产品份额，享有转让确认后产品份额在申请日当日及之后的产品收益。</p>
			<p>风险声明：</p>
			<p>东北证券股份有限公司将把您的现金管家快速取现申请申报至深圳交易所处，但申请数据的最终确认结果由深圳交易所及过户登记机构负责，与东北证券股份有限公司无关。对由于以下原因造成的后果，东北证券股份有限公司不承担任何责任：</p>
			<p>1、因不符合东北证券股份有限公司“快速取现服务协议”约定，导致快速取现申请无效；</p>
			<p>2、由于证券交易所主机和证券公司主机客观上存在时间差，若您的快速取现申请时间早于或晚于证券交易所服务器时间，将会产生不利于您的申请成交或不成交的风险；</p>
			<p>3、其它非东北证券股份有限公司过失造成的原因，如突发性的通讯、设备故障或自然灾害及其它不可抗力因素。</p>
			<p>风险提示：</p>
			<p>1、投资者必须签订现金管家合同，否则不能办理该项业务；</p>
			<p>2、投资者必须持有现金管家份额，否则不能办理该项业务；</p>
			<p>3、投资者必须签约《东北证券现金管家集合资产管理计划快速取现业务用户服务协议》，否则不能办理该项业务；</p>
			<p>4、“现金管家”管理人将在网站就支持“快速取现”业务的三方存管银行进行公告。三方存管银行不支持“快速取现”业务的，“快速取现”业务的资金无法通过三方存管支取方式转出。投资者签署《东北证券现金管家集合资产管理计划快速取现业务用户服务协议》和变更三方存管银行前应确认三方存管银行是否支持“快速取现”业务。</p>
			<p>5、投资者快速取现申请数量必须为整数份，每次不得低于1000 份；</p>
			<p>6、投资者当日单笔、累计快速取现的金额不得大于“快速取现服务协议”约定，具体以“现金管家”管理人公告为准；</p>
			<p>7、全体投资者当日累计快速取现总额度不得大于“快速取现服务协议”约定，具体以“现金管家”管理人公告为准；</p>
			<p>8、快速取现业务开放时间内接受投资者申请，具体时间以“现金管家”管理人公告为准；</p>
			<p>9、投资者快速取现申请一经提交，不得撤销；</p>
			<p>10、当投资者快速取现申请申报后，存在交易所确认失败的风险；</p>
			<p>11、投资者快速取现转让价款转入投资者在东北证券的资金账户（简称“资金账户”）时，可能存在时延；</p>
			<p>12、投资者“资金账户”资金转账，以三方存管的相关业务规则为准；</p>
			<p>13、投资者申请快速取现成功后，将不再享有该申请份额的当日及之后的收益，该份额收益归东北证券股份有限公司所有；</p>
			<p>14、根据现金管家业务规定，存在最低保留额度设置；投资者当日快速取现申请份额确认后的转让价款，如果在16：00 前未能转出，同时也未在16：00 前调高相应的最低保留额度，可能存在转让价款自动参与现金管家的风险。导致投资者资金无法转出，同时还损失了现金管家的当日收益。</p>
			<p>（注：自然人投资者，由本人签字或者有效代理人签字；机构投资者，请加盖机构公章并由法定代表人或其授权代理人签字；通过电子签名方式签署的，按《中华人民共和国电子签名法》执行。</p>
			<p>签字及/或盖章：</p>
			<p>日期：</p>
			
			
				
			</div>
			<div class="check_box">
				<div class="ui checkbox">
					<input type="checkbox" id="checkbox_1" checked="checked">
					<!-- <label>我已仔细阅读以上协议</label> -->
				</div>
			</div>
		</div>
	</article>
	<footer>
		<a href="javascript:void(0);" class="sub_btn">我已仔细阅读以上协议</a>
	</footer>
</section>
</div>