<div class="page"  id="finan_finanAgreementOpen" data-pageTitle="证劵理财户开通协议">
	<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1 id="agreementTitle">证劵理财户开通协议</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="tips_book">
			<div class="tips_book_txt">
			<h5>东北证券柜台交易业务风险揭示书</h5>
			<p>尊敬的投资者：</p>
			<p>当您参与东北证券股份有限公司（以下简称“公司” ）柜台交易业务时，可能获得较高的投资收益，但同时也存在着较大的投资风险。为了使您更好地了解其中的风险，公司根据《证券公司柜台交易业务规范》、《东北证券柜台业务管理办法》和公司关于柜台交易业务的其他规定，特提供本风险揭示书，请您认真详细阅读：</p>
			<p>（一）审慎选择投资品种公司可开展多种金融产品的柜台交易，各种柜台交易产品的投资特点和交易规则有很大不同，我们建议您在投资柜台交易产品之前，务必详细了解柜台交易产品的特点、交易规则和风险，由于您投资决策失误而引起的损失将由您自行承担。</p>
			<p>（二）了解柜台交易业务的风险您参与公司柜台交易业务，存在但不限于如下风险：</p>
			<P>1.宏观经济风险国家宏观经济形势的变化以及国际经济环境和其他证券市场的变化，可能引起国内证券市场的波动，从而影响柜台交易的正常开展，使您存在亏损的可能，您将承担由此可能造成的损失。</P>
			<P>2.政策风险有关证券市场、柜台交易的法律、法规和相关政策、规则发生变化，可能引起金融产品价格波动，使您存在亏损的可能，您将承担由此可能造成的损失。</P>
			<P>3.市场风险因利率、价格、汇率等因素的变动而导致柜台交易产品价格发生波动引发的风险，使您存在亏损的可能，您将承担由此可能造成的损失。</P>
			<P>4.信用风险您在购买柜台交易产品前，应当认真阅读产品说明书及有关的信息披露文件，对柜台交易产品信息披露的真实性、准确性、完整性和及时性进行独立分析，并据此独立判断投资价值。柜台交易产品的信息披露低于上市公司的信息披露标准，您将承担由此可能造成的损失。</P>
			<P>5.流动性风险由于交易对手方申报价格与公司双边报价有差异难以成交，导致您所持有的金融产品无法及时变现的流动性风险，您将承担由此可能造成的损失。</P>
			<P>6.特殊金融产品交易的风险您应当根据自身的经济实力、承受能力和对金融产品的了解程度认真决定柜台交易投资策略，当您有意参与具有较大潜在风险的金融产品投资时，尤其应当清醒地认识到该类金融产品可能蕴含着更大的风险。</P>
			<p>本风险揭示书的揭示事项仅为列举性质，未能详尽列明柜台交易业务的所有风险。投资者在参与柜台交易业务前，应认真阅读相关业务规则，并做好风险评估与财务安排，确定自身有足够的风险承受能力，避免因参与柜台交易业务而遭受难以承受的损失。</p>
			<br /><br /><br />
		   <h5>东北证券柜台交易业务风险揭示书</h5>
		   <p class="head">甲方：投资者</p>
			<p class="head">乙方：东北证券股份有限公司</p>
			<p>为了规范甲乙双方开展柜台交易业务，明确甲乙双方在开展柜台交易业务的权利、义务关系，依照《中华人民共和国证券法》、《中华人民共和国合同法》、《证券公司监督管理条例》等法律、行政法规及中国证监会其他规范性文件的规定，甲乙双方在平等自愿、诚实信用的基础上，就乙方为甲方提供柜台交易业务服务的相关事宜，自愿达成如下协议，供双方共同遵守。</p>
			<p>本协议所称的柜台交易业务是指，证券公司与特定交易对手方在集中交易场所之外进行的交易或为投资者在集中交易场所之外进行交易提供服务的行为。其中场外交易场所包括证券公司柜台市场及机构间私募产品报价与服务系统。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">一、声明与保证</p>
			 
			<p>第一条 甲方向乙方作如下声明与保证：</p>
			<p>（一）甲方不存在法律、行政法规、规章及其他规范性文件等禁止、限制或不适于参与柜台交易业务的情形。</p>
			<p>（二）甲方自愿遵守有关的法律、行政法规、规章以及其他规范性文件和中国人民银行、证券监管部门、中国证券业协会、证券交易所、证券登记结算机构有关业务规则的规定。</p>
			<p>（三）甲方用于柜台交易业务的资产（包括资金和证券，下同）来源合法。甲方向乙方出售的标的证券未设定任何形式的担保或其他第三方权利，不存在任何权属争议或权利瑕疵。</p>
			<p>（四）甲方承诺按照乙方要求，如实向乙方提供身份证明材料、资信证明文件、本人及关联人的所有证券账户及其他相关材料，并对所提交的各类文件、资料、信息的真实性、准确性、完整性和合法性负责，信息变更时及时通知乙方。甲方同意乙方以合法方式对甲方的资信状况、履约能力等情况进行必要的调查，同意乙方直接或间接从中国人民银行的征信管理系统了解或获取甲方的信用状况，并同意乙方按照有关规定，向监管部门、中国证券业协会、证券交易所、证券登记结算机构、中证资本市场发展监测中心、产品发行人（管理人）、产品托管人等单位报送甲方的柜台交易业务数据、账户资料及其他相关信息。</p>
			<p>（五）甲方承诺审慎评估自身需求和风险承受能力，自行承担柜台交易业务的全部风险和损失，无需乙方承担甲方的任何投资损失。</p>
			<p>（六）甲方承诺未经乙方书面同意，不以任何方式转让本协议项下的各项权利与义务。甲方签署和履行本协议不会与其章程、内部规章、以其为一方主体的任何其他协议或其他法律文件及其在该等法律文件中的义务发生冲突，需要批准的，履行了批准手续，且不违反适用于甲方的任何现行法律、法规、规章、条例、司法判决、裁定、仲裁裁决和行政授权、命令及决定，并履行了甲方的内部程序。</p>
			<p>（七）甲方已充分知悉并同意，乙方可能是甲方柜台交易业务的对手方，同时乙方又根据甲方委托办理有关申报事宜。</p>
			<p>（八）甲方已详细阅读本协议及其附件《柜台交易业务业务风险揭示书》的所有条款、内容，获悉乙方对柜台交易业务规则和协议内容的讲解，准确理解柜台交易业务规则和本协议及《柜台交易业务风险揭示书》的确切含义，特别是甲方的责任条款和乙方的免责条款的含义，清楚认识并愿意自行承担柜台交易业务的全部风险，并接受本协议的约束。</p>
			<p>（九）甲方保证在本协议有效期内维持前述声明，并保证始终真实有效。</p>
			<p>第二条 乙方向甲方作如下声明与保证：</p>
			<p>（一）乙方是依法设立的证券经营机构。</p>
			<p>（二）乙方自愿遵守有关的法律、行政法规、规章、规则以及其他规范性文件和中国人民银行、证券监管部门、证券业协会、证券交易所、证券登记结算机构有关业务规则的规定。</p>
			<p>（三）乙方承诺具备开展柜台交易业务的必要条件，能够为甲方进行柜台交易业务提供相应的服务。</p>
			<p>（四）乙方与甲方之间柜台交易业务的资金明细清算应由乙方自行负责。</p>
			<p>（五）乙方向甲方提供了《柜台交易业务风险揭示书》，并按照有关规定向甲方详细讲解了柜台交易业务规则和本协议内容。</p>
			<p>（六）乙方不以任何方式保证甲方获得投资收益，乙方也不以任何形式承担甲方的投资损失。</p>
			<p>（七）乙方承诺按照本协议约定，基于甲方真实委托进行交易申报。</p>
			<p>（八）乙方保证在本协议有效期内维持前述声明，并保证始终真实有效。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">二、权利与义务</p>
			<p>第三条 甲方的权利。</p>
			<p>（一）甲方可以通过乙方提供的交易渠道在乙方的柜台交易市场或机构间私募产品报价与服务系统上进行于其风险承受能力相匹配的上柜产品的认购、申购、赎回和转让交易。</p>
			<p>（二）甲方知悉柜台交易业务的有关信息，并可向乙方进行查询。</p>
			<p>（三）因乙方的过错导致甲方合法权益受到损害时，甲方有权得到赔偿。</p>
			<p>（四）相关法律、法规、规范性文件、业务规则规定及本协议约定的其他权利。</p>
			<p>第四条 甲方的义务。</p>
			<p>（一）甲方根据法律、行政法规、规章及乙方相关业务规则的规定，如实向乙方提供各类身份证明材料和信用状况证明文件，并对所提交的各类文件、资料、信息的真实性、准确性、完整性和合法性负责。在上述相关文件、资料、信息等发生变更时，甲方及时通知乙方，并及时到乙方开户营业部办理身份证明文件更新手续。</p>
			<p>（二）甲方应妥善保管证券账户卡、身份证件、交易密码等资料、信息，不得将身份证件、交易密码出借给他人，或委托乙方员工操作账户，否则，由此产生的后果由甲方自行承担。甲方承诺所有透过甲方交易密码办理的业务均视为甲方真实意思的表示，甲方对此承担全部责任。</p>
			<p>（三）甲方有义务查看交易公告，了解交易规则变动信息，接受交易规则变动结果。</p>
			<p>（四）甲方应在委托指令下达后三个交易日内向乙方查询该委托指令结果。当甲方对该结果有异议时，须在查询当日以书面形式向乙方开户营业网点质询。甲方逾期未办理查询或未对有异议的查询结果以书面形式向乙方开户营业网点办理质询的，视同甲方已确认该结果。 </p>
			<p>（五）法律、行政法规、规章、规则规定的及本协议约定的其他义务。</p>
			<p>第五条 乙方的权利。</p>
			<p>（一）乙方要求甲方提交与柜台交易业务相关的各类身份证明材料和信用状况证明文件，并对相关内容进行解释或说明。</p>
			<p>（二）乙方根据甲方的资信状况、标的证券价值、履约情况、市场变化、乙方财务安排等因素确定并调整授予甲方的风险等级。</p>
			<p>（三）乙方有权对甲方柜台交易进行监控。</p>
			<p>（四）向甲方收取柜台交易业务的对价、交易佣金、与甲方协商一致收取的其他相关费用。</p>
			<p>（五）在甲方各类身份证明材料和信用状况证明文件、资料、信息等发生变更时，甲方应及时通知乙方开户营业部办理身份证明文件更新手续。若甲方未及时办理相关证明文件、资料、信息变更手续的，乙方有权限制甲方进行柜台交易业务。</p>
			<p>（六）法律、行政法规、规章、规则规定的及本协议约定的其他权利。</p>
			<p>第六条 乙方的义务。</p>
			<p>（一）向甲方支付柜台交易业务的对价。</p>
			<p>（二）乙方如实记载甲方柜台交易业务的账务情况，在甲方提出查询申请时提供给甲方进行查询。</p>
			<p>（三）乙方未书面通知甲方，不得以任何方式转让本协议项下之一及全部权利与义务，法规或监管机构另有规定的除外。</p>
			<p>（四）乙方有义务对甲方的违约行为、异常交易行为及其他违规行为进行监控，并可以按照相关部门的要求，对甲方相关账户的证券交易、资金存取等行为采取限制措施。</p>
			<p>（五）法律、行政法规、规章、规则规定的及本协议约定的其他义务。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">三、一般规定</p>
			<p>第七条 甲方与乙方进行柜台交易业务，甲方自愿接受乙方提供的服务并委托乙方办理柜台交易业务和相关的证券登记、托管、结算以及其他与柜台交易业务有关的事项。甲乙双方均充分知晓、认可并同意遵守乙方柜台交易业务的交易、登记、托管、结算等事宜的相关规定。</p>
			<p>第八条 甲方参与柜台交易业务，须通过乙方的资质审查。资质审查条件包括但不限于信用状况、风险承受能力及对证券市场的认知程度。</p>
			<p>第九条 甲方已充分知悉并同意，乙方可能是甲方柜台交易业务的对手方，同时乙方又根据甲方的委托办理有关柜台交易业务的交易申报、登记结算等事宜。</p>
			<p>第十条 甲方已经成交的委托均视为甲方基于真实意愿做出的行为，已达成的交易结果不得改变。</p>
			<p>第十一条 甲方买卖委托时应保证其证券账户中有足额的标的证券，资金账户中有足额的资金，保证根据成交结果承担相应的清算划付责任，否则乙方有权拒绝甲方的委托指令。</p>
			<p>乙方在自身业务管理系统中为甲方设立簿记明细资金账户和簿记明细证券账户，记载每笔交易的明细数据。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">四、交易品种与时间</p>
			<p>第十二条 柜台交易业务的交易品种为在合法存续的证券，具体范围由乙方指定。</p>
			<p>第十三条 乙方向甲方提供上柜产品的转让服务。</p>
			<p>乙方柜台市场的可交易时间为上海证券交易所和深圳证券交易所交易日的上午9:30至11:30，下午13:00至15:00，其中：</p>
			<p>（一）国家法定节假日和乙方公告的休市日，柜台市场休市。</p>
			<p>（二）乙方认为必要时，可以调整柜台市场可交易时间。</p>
			<p>第十四条 上柜证券发生权益分派等情况，本柜台市场根据具体上柜证券的约定对该证券进行权益分派处理，本柜台市场另有规定的除外。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">五、委托、申报与成交</p>
			<p>第十五条 甲方应妥善保管证券账户卡、有效身份证明文件、资金密码和交易密码等资料，不得将证券账户、有效身份证明文件、资金密码、交易密码等出借给他人使用。甲方应对资金密码和交易密码进行定期或不定期更换，如因密码遗失、泄露、被盗用而造成的一切损失均由甲方自行承担。</p>
			<p>第十六条 甲方对柜台交易电子委托指令的确认，以乙方系统的电子记录留存资料为准，该电子记录留存资料与书面留存资料具有同等法律效力。</p>
			<p>第十七条 甲方可以通过网上交易系统下达柜台交易业务指令：甲方发出的超出乙方规定的交易品种范围的交易指令，乙方将对该交易指令不予接纳或不予执行。</p>
			<p>第十八条 乙方根据自身经营成本等设定不同档次的收费标准。甲方同意按照乙方公布的标准支付费用。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">六、通知与送达</p>
			<p>第十九条 乙方将根据柜台交易业务重要信息的变动情况定期或不定期地向甲方发送柜台交易业务信息类通知。</p>
			<p>该类信息的通知，主要目的是方便甲方及时了解，知晓柜台交易业务所涉及的重要信息。</p>
			<p>第二十条 甲方指定相关联络方式用于乙方通知，以协议首页甲方提供的联系方式为准。甲乙双方若对某次通知是否以电子邮件方式发送以及发送时间存在争议。均以邮箱供应商专用邮箱中备份内容的原始记录为准。</p>
			<p>甲方提供的相关联络方式若有变动的，应当在变动后的两个交易日内到乙方办理资料变更手续，并经乙方确认后方可生效。否则，由此造成的延误或者损失由甲方承担。如甲方未及时登录邮箱而延误了解自己账户情况，所造成的一切后果由甲方自行承担。</p>
			<p>第二十一条 乙方可根据甲方按照本协议约定预留的电子邮箱、电话、手机等通信方式给甲方发送有关通知。由INTERNET网络、通讯线路及用户终端引发的风险由甲方承担。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">七、免责事项</p>
			<p>第二十二条 因地震、台风、水灾、火灾、战争、瘟疫、社会动乱及其他不可抗力因素导致的甲方损失，乙方不承担任何赔偿责任。</p>
			<p>第二十三条 因乙方不可预测或无法控制的系统故障、设备故障、通讯故障、电力故障等突发事故及其他非乙方自身因素、监管机关或行业协会规定的其他免责情形，给甲方造成的损失，乙方不承担赔偿责任。</p>
			<p>第二十四条 因政策法规修改，法律法规规定的其他情形等因素，导致协议任何一方不能及时或完全履行协议的，其相应责任应予免除，知悉政策法规变化的一方应该尽快通知另一方，防止双方损失可能的进一步扩大。</p>
			<p>第二十五条 甲方与乙方任何分支机构、工作人员私下签订的全权委托协议或约定的有关全权委托或分享投资收益、分担投资损失之事项，均属违反本协议约定、乙方管理制度及国家法律法规规定，其协议和约定事项无效，由此产生的损失乙方不承担赔偿责任。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">八、协议的生效、变更与终止</p>
			<p>第二十六条 本协议的币种、成立与生效、期限：</p>
			<p>（一）协议币种：如无特别说明，本协议中所有金额均以人民币为单位。</p>
			<p>（二） 协议成立并生效：协议甲方为个人投资者的，本协议自甲方本人签字，乙方加盖公章之日起生效；甲方为机构投资者的，本协议自甲方法定代表人或授权代表签字，甲乙双方加盖公章之日起生效。</p>
			<p>（三）协议期限：自本协议成立生效之日起至本协议终止情形发生之日止。</p>
			<p>（四）本协议任一条款的失效不影响其他条款的有效。</p>
			<p>第二十七条  包括不限于以下具体情形出现时，在甲方对乙方所负债务清偿完毕后，本协议自行终止。</p>
			<p>（一）甲方死亡或丧失民事行为能力；</p>
			<p>（二）甲方被人民法院宣告进入破产程序或解散；</p>
			<p>（三）甲方或乙方违反声明与保证事项的；</p>
			<p>（四）甲方发生合并、分立、资产重组等重大事项，并影响其履约能力；</p>
			<p>（五）乙方被人民法院宣告进入破产程序或解散；</p>
			<p>（六）乙方进入风险处置程序； </p>
			<p>（七）乙方被证券监管机关停业整顿、责令关闭、撤销；</p>
			<p>（八）乙方被人民法院宣告进入破产程序或解散；</p>
			<p>（九）由于法律法规、中国人民银行、证券监管部门、证券交易所、证券登记结算公司的相关规则变动较大，导致甲乙双方约定的重要条款无法执行的；</p>
			<p>（十）若因甲乙双方对协议重要条款约定有分歧，无法达成一致意见，一方单方面向另一方提出终止本协议要求的；</p>
			<p>（十一）其他法定或者约定的协议终止情形。</p>
			<p>本协议终止前，存在尚未到期购回交易的，应当提前进行购回，无法购回的，双方进行场外结算</p>
			<br />
			<p style="text-align:center; font-weight:bold;">九、法律适用和争议解决</p>
			<p>第二十八条 有关本协议的签署、效力和争议解决等均适用中华人民共和国（不含港、澳、台地区）法律、行政法规的规定。</p>
			<p>第二十九条 本协议签署后，若相关法律、法规被修订的，应按新修订的法律、行政法规、规章、规则办理，本协议其他内容及条款继续有效。</p>
			<p>第三十条 甲乙双方发生交易纠纷或者其他争议的，可以自行协商解决，协商不成的，可依法向乙方住所地人民法院提起诉讼。</p>
			<br />
			<p style="text-align:center; font-weight:bold;">十、附则</p>
			<p>第三十一条 甲乙双方于本协议生效前所作的宣传、广告、说明、承诺、证明、意向或其它交易条件，无论是否已经协议各方口头或书面确认，均以本协议相关条款为准。</p>
			<p>第三十二条 甲乙双方同意，乙方可以公告方式对本协议任何一项条款进行变更。乙方通过公告方式变更本协议条款后，甲方未在乙方公告之日起五个工作日内对变更后的条款向开户分支机构书面提出异议的，视为甲方知晓并同意变更后的条款内容，本协议继续有效。</p>
			<p>第三十三条 《柜台交易业务风险揭示书》为本协议不可分割的部分，要与本协议同时签署。</p>
			<p>第三十四条 甲乙双方在本协议的有效期内进行的一次或多次柜台交易业务均适用本协议。</p>
			<p>乙方确认已向甲方说明柜台交易业务的风险，不保证甲方获得投资收益或承担甲方投资损失；甲方确认，已经认真阅读并全面接受本协议全部条款，已充分知悉、理解本协议项下的权利、义务和责任，自愿参与柜台交易业务并自行承担由此产生的风险和法律后果。</p>
			<p>承诺声明：</p>
			<p>经东北证券股份有限公司充分揭示，本人/机构对上述《东北证券柜台交易业务风险揭示书》的内容已经充分理解，承诺本人/本机构具备柜台交易合格投资者资格，愿意参与柜台交易业务，并愿意承担柜台交易业务的风险。现予以确认并签署《东北证券柜台交易业务客户协议》。</p>
			</div>
			<div class="check_box">
				<div class="ui checkbox">
					<input type="checkbox" id="checkbox_1" checked="checked">
					<!-- <label>我已仔细阅读以上协议</label> -->
				</div>
			</div>
		</div>
	</article>
	<footer>
		<a href="javascript:void(0);" class="sub_btn">我已仔细阅读以上协议</a>
	</footer>
</section>
</div>