<div class="page"  id="finan_fundMore" data-pageTitle="东北证券-理财超市(检索)" data-pageLevel="1">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_07">
			<a href="javascript:void(0);" class="back_btn"></a>
			<h1>基金详情</h1>
		</div>
	</header>
	<article>
		<div class="pro_con_page" id="pageContent">
			<div class="pro_con_box4 mt10">
				<div class="pro_mes_list">
					<ul>
						<li class="ui layout">
							<div class="row_fl"><p>产品名称</p></div>
							<div class="row-1"><p class="text-left" id="productAbbr"></p></div>
						</li>
 						<li class="ui layout">
							<div class="row_fl"><p>产品代码</p></div>
							<div class="row-1"><p class="text-left" id="product_code"></p></div>
						</li> 
						<li class="ui layout">
							<div class="row_fl"><p>产品类型</p></div>
							<div class="row-1"><p class="text-left" id="fund_type"></p></div>
						</li>
						<li class="ui layout">
							<div class="row_fl"><p>管理公司</p></div>
							<div class="row-1"><p class="text-left" id="custodian"></p></div>
						</li>
						<li class="ui layout">
							<div class="row_fl"><p>基金比较基准</p></div>
							<div class="row-1"><p class="text-left" id="benchmark"></p></div>
						</li>
						<li class="ui layout">
							<div class="row_fl"><p>投资范围</p></div>
							<div class="row-1"><p class="text-left" id="invest_scope"></p></div>
						</li>
						<li class="ui layout">
							<div class="row_fl"><p>投资目标</p></div>
							<div class="row-1"><p class="text-left" id="invest_objective"></p></div>
						</li>
						<li class="ui layout">
							<div class="row_fl"><p>成立时间</p></div>
							<div class="row-1"><p class="text-left" id="found_time"></p></div>
						</li>
					</ul>
					<p class="fx_tips">风险提示详情：以上信息（包括但不限于文字、数据及图表）均基于公开信息采集，本公司不保证该信息全部或者部分内容的准确性、真实性、完整性，不构成本公司任何推荐或保证基金具体信息以管理人相关公告为准。
                          	投资有风险，理财需谨慎。</p>
				</div>
			</div>
			<!-- 			
			<a href="javascript:void(0);" class="buy_now">立即购买</a> 
			-->
		</div>
	</article>
</section>
</div>