<div class="page"  id="finan_index" data-pageTitle="东北证券-理财首页" data-pageLevel="1" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<div class="ui layout pro_tab">
				<!-- <div class="row-1" id="tab_index">
					<a href="javascript:void(0);" class="act">产品精选</a>
				</div> -->
				<div class="row-1" id="tab_market">
					<a href="javascript:void(0);">理财超市</a>
				</div>
			</div>
			<!--
			<a href="javascript:void(0);" class="back_btn"></a>
			-->
			<a href="javascript:void(0);" class="rt_icon add_icon"></a>
		</div>
	</header>
	<article>
		<div class="page_con" id="pageContent">
			<div class="ind_box ind_box_01">
				<div class="ind_tit">
					<em></em>
					<p>最佳推荐</p>
				</div>
				<div class="ind_det">
					<ul id="bestRecom">
					</ul>
				</div>
			</div>
			<div class="ind_box rec_bank_box">
				<div class="ind_tit">
					<em></em>
					<p>银行推荐</p>
				</div>
				<div class="ind_det">
					<ul id="bankRecom">
					</ul>
				</div>
			</div>
			<div class="ind_box ind_box_02">
				<div class="ind_tit">
					<em></em>
					<p>收益排行</p>
				</div>
				<div class="ind_det">
					<ul id="incomeRank">
					</ul>
				</div>
			</div>
			<div class="ind_box ind_box_03">
				<div class="ind_tit">
					<em></em>
					<p>最多关注</p>
				</div>
				<div class="ind_det">
					<ul id="mostAttaion">
					</ul>
				</div>
			</div>
			<div class="ind_box ind_box_04">
				<div class="ind_tit">
					<em></em>
					<p>本月热销</p>
				</div>
				<div class="ind_det">
					<div class="ui layout" id="monthHot">
					</div>
				</div>
			</div>
			<div class="ind_box ind_box_05">
				<div class="ind_tit">
					<em></em>
					<p>热门主题</p>
				</div>
				<div class="ind_det">
					<ul id="hotTheme">
					</ul>
				</div>
			</div>
		</div>
	</article>
	<footer>
		<div class="ui layout footer_nav footer_new_nav">
			<div class="row-1">
				<a href="javascript:void(0);">
					<em></em>
					<p>推荐</p>
				</a>
			</div>
			<div class="row-1 active">
				<a href="javascript:void(0);">
					<em></em>
					<p>理财</p>
				</a>
			</div>
			<div class="row-1">
				<a href="javascript:void(0);">
					<em></em>
					<p>米</p>
				</a>
			</div>
			<div class="row-1">
				<a href="javascript:void(0);">
					<em></em>
					<p>我</p>
				</a>
			</div>
		</div>
	</footer>
</section>
</div>