<div class="page"  id="account_bindFundAccount" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>激活资金账号</h1>
			<a href="javascript:void(0)" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="pro_page">
			<div class="register_list">
				<div class="text_item">
					<div class="ui field border rounded">
						<input type="tel" id="fundAccount" maxlength="11" class="ui input nickname_text user_icon" placeholder="请输入资金账号">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				<div class="text_item">
					<div class="ui field border rounded">
						<input type="password" class="ui input nickname_text psw_icon" id="tradePwd" maxlength="16" placeholder="请输入登录密码">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				<div class="text_item">
					<div class="ui field border rounded">
						<input type="tel" class="ui input nickname_text yzm_icon" id="ticket" maxlength="4" placeholder="请输入验证码">
						<a href="javascript:void(0)" class="yzm_pic"><img id="code_pic" src="images/yzm_pic.png" /></a>
					</div>
				</div>
				<div class="next_btn_box">
					<a href="javascript:void(0)" class="ui button block rounded" id="activeBtn">立即激活</a>
				</div>
				<p class="tips_txt text-right">我没有账号？<a href="javascript:void(0)" id="regFundAcct">立即开户</a></p>
			</div>
		</div>
	</article>
</section>
</div>