<div class="page"  id="account_bindMobilePhone" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>绑定手机</h1>
			<a href="javascript:void(0)" class="rt_icon close_btn2"></a>
		</div>
	</header>
	<article>
		<div class="pro_page">
			<div class="register_list">
				<p class="tips_txt" style="display: none;">已将短信校验码发送至：<a href="javascript:void(0)"></a></p>
				<div class="text_item">
					<div class="ui field border rounded">
						<input type="tel" class="ui input nickname_text phone_icon" id="mobilePhone" maxlength="11" placeholder="请输入您的手机号码">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				<div class="text_item">
					<div class="ui field border rounded">
						<input type="tel" class="ui input nickname_text yzm_icon" id="msgCode" placeholder="请输入验证码">
						<a href="javascript:void(0)" class="yzm_btn" id="get_code_by">发送验证码</a>
					</div>
				</div>
				<div class="next_btn_box">
					<a href="javascript:void(0)" class="ui button block rounded" id="nextBtn">下一步</a>
				</div>
			</div>
		</div>
	</article>
</section>
</div>