<div class="page"  id="account_historyIntegral" data-pageTitle="东北证券-收支明细" data-pageLevel="1">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>收支明细</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="net_worth">
			<div class="net_worth_table">
<!-- 				<div class="table_tit">
					<div class="ui layout">
						<div class="row-1"><span>日期</span></div>
						<div class="row-1"><span>单位净值</span></div>
						<div class="row-1"><span>累计净值</span></div>
					</div>
				</div> -->
			<div class="no_data_box" style="display: none;">
				<em></em>
				<p>查询无结果</p>
			</div>
			<div id="v_container_IntergraList" style="background: #F9F9FA">
			   	<div class="visc_wrapper" id="v_wrapper_IntergraList" data-iscrollPageId="finan_market">
					<div class="visc_scroller">
						<div class="visc_pullDown" style="display:none;">
							<span class="visc_pullDownIcon"></span>
							<div class="visc_pullDownDiv">
								<span class="visc_pullDownLabel">下拉加载上一页</span><br/>
								时间更新于：<span class="visc_pullDownTime"></span>
							</div>
						</div>
						
					    <div class="dbm_list"><ul></ul></div>
					    
					    <div class="visc_pullUp" style="display:none;">
							<span class="visc_pullUpIcon"></span>
							<div class="visc_pullUpDiv">
								<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
								时间更新于：<span class="visc_pullUpTime"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			</div>
		</div>
	</article>
</section>
</div>