<div class="page"  id="account_myProfile" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>我的资料</h1>
			<a href="javascript:void(0)" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="pro_page">
			<div class="my_profile">
				<div class="my_mew_list">
					<h4>我的信息</h4>
					<ul>
						<li>
							<div class="ui layout">
								<span class="lt_txt">真实姓名：</span>
								<div class="row-1">
									<p class="text-right" id="userName"></p>
								</div>
							</div>
						</li>
						<li>
							<div class="ui layout">
								<span class="lt_txt">身份证号：</span>
								<div class="row-1">
									<p class="text-right" id="IDCard"></p>
								</div>
							</div>
						</li>
						<li id="fundAccountLi">
							<div class="ui layout">
								<span class="lt_txt">资金账号：</span>
								<div class="row-1">
									<p class="text-right" id="fundAccount"></p>
								</div>
							</div>
						</li>
						<li id="mobilePhoneLi">
							<div class="ui layout">
								<span class="lt_txt">手机号码：</span>
								<div class="row-1">
									<p class="text-right" id="mobilePhone"></p>
								</div>
							</div>
						</li>
						<li>
							<div class="ui layout">
								<span class="lt_txt">银行卡号：</span>
								<div class="row-1">
									<p class="text-right" id="bankCard"></p>
								</div>
							</div>
						</li>
						<!--  
						<li id="userMailLi">
							<div class="ui layout">
								<span class="lt_txt">邮 &nbsp; &nbsp; &nbsp; 箱：</span>
								<div class="row-1">
									<p class="text-right">139disco@163.com</p>
								</div>
							</div>
						</li>
						-->
					</ul>
				</div>
				<div class="my_mew_list" id="accountSafe">
					<h4>账户安全</h4>
					<ul>
						<li id="tradePwdLi">
							<a href="javascript:void(0)">
								<div class="ui layout">
									<span class="lt_txt">交易密码：</span>
									<div class="row-1">
										<p class="text-right ablue">修改密码</p>
									</div>
								</div>
							</a>
						</li>
						<li id="moneyPwdLi" style="display: none;">
							<a href="javascript:void(0)">
								<div class="ui layout">
									<span class="lt_txt">资金密码：</span>
									<div class="row-1">
										<p class="text-right ablue">修改密码</p>
									</div>
								</div>
							</a>
						</li>
						<li id="loginPwdLi">
							<a href="javascript:void(0)">
								<div class="ui layout">
									<span class="lt_txt">查询密码：</span>
									<div class="row-1">
										<p class="text-right ablue">修改密码</p>
									</div>
								</div>
							</a>
						</li>
						<li id="forgetPwdLi">
							<a href="javascript:void(0)">
								<div class="ui layout">
									<span class="lt_txt">忘记密码：</span>
									<div class="row-1">
										<p class="text-right ablue">修改密码</p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="bottom_box">
					<h3><i></i>遇到问题，请联系客服</h3>
					<p><span>95360</span></p>
				</div>
			</div>
		</div>
	</article>
</section>
</div>