<div class="page"  id="account_promoteQuery" data-pageTitle="我的" data-refresh="true">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>推荐统计</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="add_address_page">
			<div class="statistics_number">
				<p>恭喜您！您已成功推荐</p>
				<strong id="recomNum">--<em>人</em></strong>
			</div>
			<div class="statistics_list">
				<div class="sta_list_item mt10">
					<p class="total">已获得话费： <span id="already_get">--<em>.00</em></span>元</p>
				</div>
				<div class="sta_list_item">
					<p>已充值到账： <span id="already_recharge">--<em>.00</em></span>元</p>
					<p>待充值到账： <span id="surplus_telcharge">--<em>.00</em></span>元</p>
				</div>
			</div>
		</div>
	</article>
</section>
</div>