<div class="page"  id="account_redemption" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>产品赎回</h1>
			<a href="javascript:void(0)" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="order_page">
			<div class="order_form_list">
				<div class="order_list_con">
					<div class="order_tit">
						<h4 id="productName"></h4>
					</div>
					<div class="order_list_box1 redemption_box">
						<div class="box1_det">
							<h3 id="redeemAmount"></h3>
							<p>可用份额(份)</p>
						</div>
					</div>
					<div class="order_list_box2">
						<div class="order_tab_con order_tab_con1">
							<div class="text_item">
								<div class="ui field border rounded">
									<input type="number" class="ui input nickname_text" id="numberInput" value="">
									<p class="nickname">赎回份额</p>
									<span class="unit">份</span>
								</div>
							</div>
<!-- 							<div class="text_item nobt">
								<div class="ui field border rounded">
									<input type="password" class="ui input nickname_text" id="tradePwd" maxlength="16">
									<p class="nickname">交易密码</p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</article>
	<footer>
			<div class="cz_btn_box">
				<a href="javascript:void(0)" class="sub_btn">确认赎回</a>
			</div>
	</footer>
</section>
</div>