<div class="page"  id="account_setUp" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>设置</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="pro_page">
			<div class="login_nav_list">
				<ul>
					<li><a href="javascript:void(0);">新消息通知</a></li>
					<li><a href="javascript:void(0);">意见反馈</a></li>
					<li><a href="javascript:void(0);">软件评分</a></li>
					<li><a href="javascript:void(0);">关于</a></li>
				</ul>
			</div>
			<div class="set_btn_box">
				<a href="javascript:void(0);" class="out_login">退出登录</a>
			</div>
			<div class="set_bottom_box">
				<h3><i></i>遇到问题，请联系客服</h3>
				<p><span>4000000</span></p>
			</div>
		</div>
	</article>
</section>
</div>