<div class="page"  id="account_updatePwd" data-pageTitle="我的">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>密码修改</h1>
			<a href="javascript:void(0)" class="rt_icon close_btn2"></a>
		</div>
	</header>
	<article>
		<div class="pro_page">
			<div class="register_list">
				<p class="tips_txt" style="display: none;" id="msgTips">已将短信校验码发送至：：<a href="javascript:void(0)"></a></p>
				<div class="text_item">
					<div class="ui field rounded">
						<input type="password" class="ui input nickname_text psw_icon" id="oldPwd" maxlength="16" placeholder="请输入原密码">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				<div class="text_item">
					<div class="ui field rounded">
						<input type="password" class="ui input nickname_text psw_icon" id="newPwd" maxlength="16" placeholder="请输入新密码">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				<div class="text_item">
					<div class="ui field rounded">
						<input type="password" class="ui input nickname_text psw_icon" id="surePwd" maxlength="16" placeholder="请输入确认密码">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				<div class="text_item">
					<div class="ui field rounded">
						<input type="text" class="ui input nickname_text phone_icon" id="mobilePhone" maxlength="11" placeholder="请输入手机号码">
						<a href="javascript:void(0)" class="del_btn"></a>
					</div>
				</div>
				
				<div class="text_item">
					<div class="ui field rounded">
						<input type="text" class="ui input nickname_text yzm_icon" id="mobileCode" maxlength="8" placeholder="请输入验证码">
						<a href="javascript:void(0)" class="yzm_btn">发送验证码</a>
					</div>
				</div>
				<div class="next_btn_box">
					<a href="javascript:void(0)" class="ui button block rounded" id="nextBtn">下一步</a>
				</div>
			</div>
		</div>
	</article>
</section>
</div>