<!--组件清单-->
<section class="main fixed page" data-page="home" id="index_menu" data-pageTitle="组件清单" data-pageLevel="1" data-refresh="true" data-animation-in-name="slideRight">
    <header class="header">
        <div class="header_inner">
        	<!--<a herf="javascript:void(0);" class="icon_back"></a>-->
        	<a herf="javascript:void(0);" class="header_inner icon_back" style="display: none;"></a>
            <h1 class="text-center">商城</h1>
        </div>
    </header>
    <article>
    	<div class="menu">
    		<ul>    			
    			<li><a href="javascript:void(0);" id='userName'></a></li>
				<li><a href="javascript:void(0);" id='gotoXdt'>跳转到小贷</a></li>
    		</ul>
    	</div>
    </article>
</section>
<!--组件清单-->