<div class="page" id="index_ssoLogin" data-pageTitle="统一登录">
	<section class="main fixed" data-page="home">
		<header class="header">
			<div class="header_inner no_border">
				<a href="javascript:void(0);" class="btn_cancel" id="backBtn"></a>
			</div>
		</header>
		<article class="boost">
			<!-- LOGIN_PAGE START -->
			<div class="login_page">
				<div class="logo_box"></div>
				<div class="login_input">
					<div class="grid">
						<div class="ui field text icon text_input">
							<div class="icon icon_01"></div>
							<input type="text" class="ui input" placeholder="手机号码/资金账号" id="loginAccount" maxlength="11" >
							<!-- <a href="javascript:void(0);" class="icon_arrow"></a> -->
						</div>
					</div>
					<div class="grid">
						<div class="ui field text icon text_input">
							<div class="icon icon_02"></div>
							<input type="password" class="ui input" placeholder="请输入密码"  maxlength="20"    id="loginPwd">
 							<!--<a href="javascript:void(0);" class="icon_show"></a> -->
						</div>
					</div>
					<div class="grid mt30">
						<a href="javascript:void(0);" class="ui button block rounded btn_01" id="login_btn">登录</a>
					</div>
					<p class="links_box mt10">
						 <a href="javascript:void(0);" id="forgetPwd" style="font-size:0.14rem;"> 忘记密码？</a> 
						<a href="javascript:void(0);" id="register_btn"  style="font-size:0.14rem;">手机快速注册</a>
					</p>
				</div>
			</div>
			<!-- LOGIN_PAGE END -->
		</article>
	</section>
	<div id="windowContainer"></div>
</div>