<div class="page" id="index_stockShare" data-pageTitle="我的理财">
	<section class="main fixed" data-page="home">
		<header class="header">
			<div class="tab_box">
				<div class="tab_inner"  >
					<a href="javascript:void(0)" class="active"  id="my_finan"  style="width:100%">我的持仓</a>
				</div>
			</div>
		</header>
		<article class="boost bg_gray">
			<div id="v_container_orderList">
					<div class="visc_wrapper" id="v_wrapper_orderList" data-iscrollPageId="account_myShare" data-iscrollParentId="v_container_orderList">
						<div class="visc_scroller">
							<div class="visc_pullDown_new" style="display: none;">
								<span class="visc_pullDownIcon_new">
									<img src="../images/project/loading.gif"/>
								</span>
								<div class="visc_pullDownDiv_new">
									<span class="visc_pullDownLabel">下拉刷新第一页</span>
								</div>
							</div>
							
							<!-- 持仓 -->
							<div class="my_finance slideInUp"  id="my_finan_box" style="display:block;"></div>
							
						    <div class="visc_pullUp_new" style="display: none;">
								<span class="visc_pullUpIcon_new">
									<img src="../images/project/loading.gif"/>
								</span>
								<div class="visc_pullUpDiv_new">
									<span class="visc_pullUpLabel">上拉加载更多数据</span>
								</div>
							</div>
							<div class="visc_no_data" style="display: none;">
								<span>没有更多数据了</span>
							</div>
						</div>
					</div>
				</div>
		</article>
				<a href="javascript:void(0);" class="btn_home" id="homeBtn"></a>
	</section>
</div>