<div class="page"  id="register_delBankCard" data-pageTitle="删除银行卡">
<section class="main fixed" data-page="home">
	<header>
		<div class="header_inner_02">
			<h1>我的银行卡</h1>
			<a href="javascript:void(0)" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="login_page">
			<div class="login_tab">
				<p class="prompt_txt">请输入交易密码确认删除绑定银行卡</p>
			</div>
			<div class="register_list login_list">
				<div class="login_list_det">
					<div class="text_item">
						<div class="ui field border rounded">
							<input type="text" class="ui input" placeholder="请输入6位数字交易密码">
							<a href="javascript:void(0)" class="del_btn"></a>
						</div>
					</div>
				</div>
				<div class="next_btn_box">
					<div class="ui layout">
						<div class="row-1">
							<a href="javascript:void(0)" class="ui button block rounded">确定</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
</div>