<div class="page"  id="register_register" data-pageTitle="注册" data-urlParam="true">
	<section class="main fixed" data-page="home">
		<header>
			<div class="header_inner_02">
				<h1>手机注册</h1>
				<a href="javascript:void(0)" class="back_btn" id="close_btn2"></a>
			</div>
		</header>
		<article>
			<div class="login_page">
				<div class="register_list mt10">
				<div class="login_list_det">
					<div class="text_item">
						<div class="ui field rounded">
							<input type="tel" class="ui input" maxlength="11" id="mobilePhone" placeholder="请输入你的手机号码">
							<a href="javascript:void(0)" class="del_btn"></a>
						</div>
					</div>
					<div class="text_item">
						<div class="ui field rounded">
							<input type="tel" class="ui input" maxlength="20" id="recomCode" placeholder="请输入推荐码">
							<a href="javascript:void(0)" class="del_btn"></a>
						</div>
					</div>
					<div class="text_item">
						<div class="ui field rounded">
							<input type="tel" class="ui input" maxlength="8" id="msgCode" placeholder="请输入验证码">
							<a href="javascript:void(0)" class="yzm_btn">发送验证码</a>
						</div>
					</div>
				</div>
					<!--  
					<div class="check_box">
						<div class="ui checkbox">
							<input type="checkbox" id="checkbox_1" checked="checked" />
							<label>我同意<a href="javascript:void(0)">《协议内容》</a></label>
						</div>
					</div>
					-->
					<div class="next_btn_box">
						<a href="javascript:void(0)" class="ui button block rounded" id="nextBtn">下一步</a>
					</div>
					<!-- 开户协议 -->
					<div class="check_box">
						<div class="ui checkbox">
							<input type="checkbox" id="checkbox_2" checked="checked" /><label>已同意并阅读<a id="agreement" href="javascript:void(0)">《金融商城注册协议》</a></label>	
						</div>
					</div>
					<a href="javascript:void(0)" class="bottom_register_btn" id="loginBtn">东北客户，点此登录</a>
				</div>
			</div>
		</article>
	</section>
</div>