<div class="page"  id="register_riskAssessment" data-pageTitle="风险测评">
	<section class="main fixed" data-page="home">
		<header>
			<div class="header_inner_02">
				<h1>风险评测</h1>
				<a href="javascript:void(0);" class="back_btn"></a>
			</div>
		</header>
		<article>
<!-- 			<div class="my_position">
				<div class="ui layout pos_tab" id="tra_tab_list">
					<div class="row-1">
						<a href="javascript:void(0);" class="act">
							<em>客</em>
							<p>客户个人风险测评</p>
						</a>
					</div>
					<div class="row-1">
						<a href="javascript:void(0);">
							<em>银</em>
							<p>银行理财产品风险测评</p>
						</a>
					</div>
				</div>
			</div> -->
			<!-- 个人风险测评 -->
			<div class="reviews_page">
				<div class="evaluation_title_list">
					<ul id="test_list">
					</ul>
				</div>
			</div>
			<!-- 银行理财产品风险测评 -->
<!-- 			<div class="order_list_box2" id="bank_list" style="display:none; background: #FFFFFF;">
				<div class="order_tab_con order_tab_con1" >
					<div class="bank_list" id="bankList">
						<ul>
							<li>
								<div class="ui radio">
									<input type="radio" id="radio_1" name="bank" />
									<label for="radio_1">招商银行理财风险测评题</label>
								</div>
							</li>
							<li>
								<div class="ui radio">
									<input type="radio" id="radio_2" name="bank">
									<label for="radio_2">兴业银行理财风险测评题</label>
								</div>
							</li>
							<li>
								<div class="ui radio">
									<input type="radio" id="radio_3" name="bank" checked="checked">
									<label for="radio_3">平安银行理财风险测评题</label>
								</div>
							</li>
						</ul>
					</div>
					<div style="margin-top: 1rem;">
						<a href="javascript:void(0);" class="sub_btn_ta">进入测评</a>
					</div>
				</div>
			</div> -->


		</article>
		<footer>
			<div class="sub_box">
				<a href="javascript:void(0);" class="sub_btn">提交</a>
			</div>
		</footer>
	</section>
</div>