<div class="page"  id="vote_detail" data-pageTitle="东北证券-首页" data-pageLevel="1" data-urlParam="true">
<section class="main bj_color" data-page="home">
        <article class="artice">
            <!-- banner分区开始 -->
           <div class="video_banner">
               <div class="video" style="width:3.5rem;height:2.30rem;">
                   <!-- <img src="images/video.png" alt="" /> -->
<!--                    <div class="close-pic" >
                       <img src="images/close_pic.png" alt="" />
                   </div> -->
               </div>
           </div>
           <!-- banner分区结束 -->
           <div class="content-box" style="padding: 0.4rem .15rem 0 .15rem;">
               <div class="content">
                   <div class="content-bj">
                       <div class="content-top">
                           <!-- <img src="images/contest_pic.png" alt="" /> -->
                           <div id="logo_url"></div>
                           <div class="text">
                               <h3 id="player_name"></h3>
                               <p id="branch_no"></p>
                               <p id="description"></p>
                           </div>
                       </div>
                       <div class="content-btm">
                          <p id="detail_info"></p>
<!--                            <p>
                               简介：周一A股市场出现普涨，所有市场及行业指数均以上涨收盘，全市场成交额近6700亿元，与上周日均成交额接近，但仍低于目前市场存量资金所对应的成交额峰值。
                           </p>  -->
                       </div>
                   </div>
               </div>
           </div>
       </article>
   </section>
</div>