<div class="page"  id="vote_index" data-pageTitle="东北证券-投票" data-pageLevel="1" data-urlParam="true">
<section class="main fixed" data-page="home">
	<article>
		<!-- 投票成功 -->
	    <div class="window_dialog" id="success" style="display:none;">
		    <div class="ok_pic">
	            <img src="images/ok_pic.png" alt="" />
	        </div>
	    </div>
		<div class="contest_page">
			<a href="javascript:void(0);" class="rule_btn">投票规则</a>
			<div class="contest_banner">
				<img src="images/contest_banner.jpg" width="100%" />
			</div>
			<div class="contest_list">
				<ul id="player_list"></ul>
				<!-- <div id="v_container_productList">
				   	<div class="visc_wrapper" id="v_wrapper_productList" data-iscrollPageId="finan_market">
						<div class="visc_scroller">
							<div class="visc_pullDown" style="display:none;">
								<span class="visc_pullDownIcon"></span>
								<div class="visc_pullDownDiv">
									<span class="visc_pullDownLabel">下拉加载上一页</span><br/>
									时间更新于：<span class="visc_pullDownTime"></span>
								</div>
							</div>
							
						    <ul id="player_list"></ul>
						    
						    <div class="visc_pullUp" style="display:none;">
								<span class="visc_pullUpIcon"></span>
								<div class="visc_pullUpDiv">
									<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
									时间更新于：<span class="visc_pullUpTime"></span>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</article>
	<footer>
		<div class="vote_btn_box">
			<a href="javascript:void(0);" id="voteSubmit" class="ui button block">提交投票</a>
		</div>
	</footer>
</section>
</div>