<div class="page"  id="vote_voteRule" data-pageTitle="东北证券-投票规则" data-pageLevel="1" data-urlParam="true">
<section class="main" data-page="home">
    <article class="artice_bg contest_page">
      <a href="javascript:void(0)" class="rule_btn">投票规则</a>
      <div class="rules_content">
          <a href="javascript:;" class="rules_close"></a>
          
        <div class="con-box01">
           <div class="common_rules">
               2016年xx月xx日—2016年xx月xx日
           </div>
           <div class="common_tit">
               投票时间
           </div> 
        </div>
        <div class="con-box02">
            <div class="common_rules">
                <p>
                   可通过点击“视频介绍”了解候选人相关情况，并在20名东北证券好青年候选人当中选择<i>10名</i>，点击“选我”即可。
                </p>
                <p>
                   投票结束后，以“融e通”“吉视通”手机客户端投票总和确定10名东北证券好青年。
                </p>
           </div>
           <div class="common_tit">
               投票规则
           </div> 
        </div>
        <div class="con-box03">
            <div class="common_rules">
              <p>主办单位：东北证券股份有限公司吉林电视台</p>
              <p>协办单位：东北证券（网络金融部）</p>
              <p>东北证券（零售客户部）</p>
              <p>东北证券长春解放大路营业部</p>
              <p>吉林电视台（吉视通）</p>
              <p>吉林电视台（吉视网）</p>
              <p>吉林电视台官方微信</p>
           </div>
           <div class="common_tit">
               活动组织单位
           </div> 
        </div>
      </div>
    </article>
</section>
</div>