<div class="page" id="activity_winList"  data-pageTitle="抽奖活动" >
<section class="main fixed" data-page="home">
   <header>
		<div class="header_inner">
			<h1>中奖纪录</h1>
			<a href="javascript:void(0);" class="back_btn"></a>
		</div>
	</header>
	<article>
		<div class="winning_record_page">
			<div class="winning_record_list mt10">
				<ul id="winList">
					<!-- <li id="D80098954654">
						<div class="ui layout record_tit">
							<p class="row-1">中奖编号：<span>D80098954654</span></p>
							<a href="javascript:void(0);" class="receive_btn">立即领取</a>
						</div>
						<div class="record_txt">
							<div class="prize_pic">
								<em><img src="images/prize_p1.png" /></em>
							</div>
							<div class="prize_det">
								<h3>3月29号【流量天天换】手机流量加油包30-50M</h3>
								<p>中奖时间：2016-04-20 21:32:46</p>
								<p>活动名称：融e通APP下载有礼活动</p>
								<p>截止时间：2016-04-20</p>
								<p class="tips">(请在活动截止前领取奖品)</p>
							</div>
						</div>
					</li>
					<li id="D80098954656">
						<div class="ui layout record_tit">
							<p class="row-1">中奖编号：<span>D80098954656</span></p>
							<a href="javascript:void(0);" class="receive_btn">立即领取</a>
						</div>
						<div class="record_txt">
							<div class="prize_pic">
								<em><img src="images/prize_p2.png" /></em>
							</div>
							<div class="prize_det">
								<h3>第256598期 现代蓝牙音箱</h3>
								<p>中奖时间：2016-04-20 21:32:46</p>
								<p>活动名称：融e通APP下载有礼活动</p>
								<p>截止时间：2016-04-20</p>
								<p class="tips">(请在活动截止前领取奖品)</p>
							</div>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</article>
	<!--遮罩层-->
	<div class="ui dialog-overlay" style="display: none;"></div>
</section>
</div>